[2017-05-22 21:27] seibert opened #1 "Create dask.gdf from collection of GDF fragments"

[2017-05-22 21:29] seibert opened #2 "Support for columnar math functions"
Based on PyGDF supported functions.

[2017-05-22 21:30] seibert opened #3 "filter()"
Delegate to the PyGDF filter() function.

[2017-05-22 21:30] seibert opened #4 "apply()"
Delegate to the PyGDF apply() function.

[2017-10-05 13:15] benepo commented on #1
Subscribe

[2017-11-06 18:16] sklam commented on #1
TODOS:

- [ ] add test to fragmented serialized data in different partition and combine them into one

[2018-02-09 22:32] kkraus14 opened #12 "Import Error: AttributeError: type object 'Series' has no attribute '_bind_operator'"
Full error below:
[code]

[2018-02-09 23:17] sklam commented on #12
It turns out new dask has changed significantly.  We need to pin to dask version 0.15.3.

[2018-02-19 23:43] sklam opened #15 "dask.distributed memory leak issue"
Memory leak due to distributed logging.

https://github.com/gpuopenanalytics/dask_gdf/blob/ecfd8db80030922eef50bab516e37302ad15d6a2/conda-recipes/meta.yaml#L20

Needs to upgrade to 1.21.0 for fix in https://github.com/dask/distributed/pull/1691

This issue can be workaround currently by force installing to the fixed distributed version.

`conda install distributed=1.21.0 --no-dep`

[2018-02-20 18:28] #12 closed

[2018-02-20 18:28] #15 closed

[2018-03-01 18:38] #2 closed

[2018-03-01 18:38] #1 closed

[2018-03-01 18:38] #4 closed

[2018-03-01 19:18] seibert opened #19 "GPU topology aware IPC"
Dask_gdf has a special mechanism for moving dataframes between dask workers on the same node that have been assigned different GPUs.  Unfortunately, this mechanism assumes peer access between all GPUs on the node, which is not always possible.

For example, the NVLINK connections on the DGX-1 create two fully connected GPU groups: 0-3 and 4-7.  In addition, ever GPU is linked to one other GPU in a

[2018-09-17 17:31] #3 closed

[2018-09-17 17:31] #19 closed

[2018-09-25 20:12] kkraus14 opened #39 "Concatenation can't handle situation where dataframes divisions are known and overlap"
Currently the concatenation code assumes the divisions are either unknown or that the dataframes divisions are mutually exclusive. We should handle the situation where the divisions overlap in the same way that dask.dataframe handles it. See: https://github.com/dask/dask/blob/master/dask/dataframe/multi.py#L628

[2018-09-25 20:25] kkraus14 opened #40 "Repartition function not implemented"
Should follow the dask.dataframe spec of being able to specify `divisions` or `npartitions`, and a flag for `force` which:
"Allows the expansion of the existing divisions. If False then the new divisions lower and upper bounds must be the same as the old divisions."

[2018-09-25 20:49] mrocklin opened #41 "Obstacles to code reuse between Dask Dataframe and Dask-GDF"
Considering issues in #40 and #39 I'm curious what stops us from using existing code in dask.dataframe.  I can think of a few possible answers:

1.  Dask dataframe functions call pandas methods explicitly, like `pandas.concat`, which would coerce data to host memory
2.  Dask GDF uses different metadata than Dask Dataframe (maybe divisions and such are different) and so the old logic won't apply

A

[2018-09-25 21:34] kkraus14 commented on #41
@mrocklin There's a number of places where the PyGDF API differs from Pandas, and a large number of places where PyGDF doesn't have the full functionality of Pandas. For general functions it should be nearly plug and play, and in general we can fix many of the inconsistencies where appropriate.

Divisions should likely be the same as we have an index similar to Pandas albeit without multi-indexing

[2018-09-25 21:35] kkraus14 commented on #41
I would greatly support standardizing the metadata to follow the example of Dask Dataframe to make the user experience of switching between the two and developing shared code for both as painless as possible.

[2018-09-26 12:41] mrocklin commented on #41
Are some of these by necessity?  Or is this just because not everything has been implemented yet?  What sorts of APIs differ?

I'm inclined to try to make Dask GDF's classes inherit from Dask Dataframe's classes, changing both where necessary to see if that can happen.  I suspect that this has about a 50/50% chancce of being feasible.

[2018-09-27 13:46] mrocklin commented on #40
So we can reuse the existing methods if we can implement the following in pygdf

1.  Index.is_monotonic
2.  Index.get_slice_bound (for monotonic indexes)
3.  `df[df >= start]` and `df[df <= stop]` (fancy indexing) on Series and DataFrame objects

However, it may also be that this is suboptimal for GPUs.  I'm mostly thinking about code reuse from dask's perspective at the moment.

[2018-09-28 17:19] mrocklin opened #44 "Rename repository from dask_gdf to dask-gdf"
Most dask-foo projects have repositories named dask-foo that contain dask_foo directories (for python compatibility).  We might consider renaming this one in github.

[2018-11-07 00:14] kkraus14 commented on #44
Resolved.

[2018-11-07 00:14] #44 closed

[2018-12-14 22:49] mrocklin opened #49 "Testing / CI"
I'm not sure I understand the current CI system.  It looks like we're building conda packages.

Instead, I'm inclined to conda install `dask` and `cudf` and then run `py.test`, leaving package builds to release time.

Any objection to my tearing things down here?

cc @mike-wendt @kkraus14

[2018-12-15 16:38] randerzander opened #50 "Unable to use "from_delayed" with cudf & dask_cudf"
I'm trying to use dask_cudf to load multiple cuDFs at once, but getting an error about cudf not having an 'index' attribute. I suspect this is because the recent refactor moved index to `cudf.dataframe.index`.

Package Versions:
[code]

Repro snippet:
[code]

Result:
[code]

[2018-12-15 16:43] mrocklin commented on #50
This repository is in a state of disrepair.  I started cleaning things up yesterday in #48 but plenty is still broken.  I recommend checking back in in a couple weeks.

[2018-12-16 16:41] mrocklin commented on #49
I just remembered that we're going to need GPU hardware to run tests of any sort here.  Presumably we'll need the same sort of treatment used in the `rapidsai/cudf` repository.

[2018-12-17 22:39] mrocklin opened #53 "Add read_csv"
I plan to add a read_csv function that just uses `glob` and passes a bunch of filenames to `cudf.read_csv` without per-file chunking.  We'll need to separately figure out how best to handle cutting up byte ranges for larger files on the device.

[2018-12-18 19:10] mrocklin commented on #50
This should now be resolved.  Closing.

[2018-12-18 19:11] #50 closed

[2018-12-18 19:11] mrocklin commented on #41
This has been resolved in #48

[2018-12-18 19:11] #41 closed

[2018-12-20 22:20] mrocklin commented on #49
@mike-wendt is this the right place to raise this sort of issue or should I do something else to make sure that it's on your radar (or whoever is likely to handle this within NVIDIA?)

[2019-01-06 23:27] randerzander opened #59 "Unable to import dask_cudf"
[code]
Result:
[code]

dask-cudf was installed from master with the tip of cudf branch-0.5.

Additional question: Is dask-cudf dev working against cudf master, or branch-0.5?

[2019-01-07 00:44] mrocklin commented on #59
Thanks for reporting this.  Should be resolved in #60.

[2019-01-07 20:35] mrocklin opened #61 "Follow cudf with version numbers"
It looks like the only tag is 0.0.1.  @randerzander recommended that we follow cudf versions.

I'll plan to do this on the next release, though given stability issues I'm not sure when that release might be.  I'm inclined not to promise anything until 0.6.  @randerzander any concerns with this?

[2019-01-07 20:41] randerzander opened #62 "Unable to .head() a dask_cudf df created by from_delayed"
Unfortunately the snippet below errors only on the specific weather dataset I'm using.

Will update this issue with a more minimal example as soon as possible, but since the error looks more like a library bug, I'm opening the issue now.

[code]
Result:
[code]

[2019-01-07 21:04] mrocklin commented on #62
Taking a look now

On Mon, Jan 7, 2019 at 12:41 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-01-07 21:10] randerzander opened #63 "Creating dask_cudf df w/ from_delayed is missing data"
Possibly related to #62

Create two dummy CSV files and read them into a dask_cudf:
[code]

Result:
[code]

Expected Result:
[code]

[2019-01-07 21:53] datametrician commented on #61
Why does dask-cuDF have to follow cuDF numbering?

[2019-01-07 21:58] mrocklin commented on #62
Are you using a dask.distributed `Client` or are you running this locally?

If you're using a client then can I ask you to try the following?

[code]

And then try your computation again?

If that doesn't work then try dask git master.

    pip install git+https://github.com/dask/dask.git@master

[2019-01-07 22:02] mrocklin commented on #63
See the npartitions keyword of
http://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.head

On Mon, Jan 7, 2019 at 1:10 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-01-07 22:02] #59 closed

[2019-01-07 22:30] mrocklin commented on #63
So if you were to call `df.compute()` you would likely find that all of the data was there.

[2019-01-08 00:00] randerzander commented on #63
Ah, didn't realize .head reads from a single partition by default. Thanks!

[2019-01-08 00:00] #63 closed

[2019-01-08 00:10] randerzander commented on #62
I was using dask.distributed.Client, and yes, forcing all workers to run `import dask_cudf` stops my app from throwing the error.

[2019-01-08 01:01] mrocklin commented on #63
It sounds to me like you didn't get a warning when you did this, which is
slightly concerning.  I thought we warned at runtime when this occurred.

On Mon, Jan 7, 2019 at 4:00 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-01-08 01:02] mrocklin commented on #62
OK, that's good to know.  I've run into this myself recently and have a
plan to resolve this upstream in dask/distributed.  My guess is that I'll
have something up by the end of the week.

On Mon, Jan 7, 2019 at 4:10 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-01-08 01:10] #53 closed

[2019-01-08 19:12] mrocklin commented on #62
Fixed by https://github.com/dask/dask/pull/4359 (I think)

[2019-01-08 19:31] mrocklin commented on #62
Verified that this passes in https://github.com/rapidsai/dask-cudf/pull/64

[2019-01-11 17:01] mike-wendt commented on #49
This is on our radar but will slip until next week. Given that we are at HQ our priority is the hardware and lab due to the need for physical access.

There are ways that you can help us get this up and going faster:
* Provide a build script similar to this one: https://github.com/rapidsai/gpuci-build-environment/blob/master/build-scripts/pygdf-master.sh
* Review the common container that we use f

[2019-01-12 01:02] mike-wendt commented on #49
Also worth pointing out these are live versions used by cuDF https://github.com/rapidsai/cudf/tree/branch-0.6/ci

[2019-01-12 01:10] mike-wendt commented on #49
For this I will have a fix out on Monday that will help with issues like this, not just for me but for the entire team. Please assign people to issues you need them to handle and that will work well with the upcoming fix.

[2019-01-12 01:12] mrocklin commented on #49
No rush on any of this really.  Thanks for putting it on your radar.  I'll assign people in the future.

[2019-01-14 21:53] mrocklin opened #66 "Joins Segfault"
Currently our joins segfault.  This is probably most easily reproduced by running the current test suite.

I apply this patch to un-skip the tests

[code]

Then I run tests

[code]

[2019-01-14 23:38] mrocklin commented on #66
Actually, that was on an old cudf build.  Here is an exception that I get before I eventually get `Aborted` failures

[code]

[2019-01-14 23:40] kkraus14 commented on #66
cc @dantegd looks like this could be at the Cython layer

[2019-01-15 00:07] mrocklin commented on #66
It's an issue with merging on empty dataframes

[code]

[code]

[2019-01-15 00:07] mrocklin commented on #66
Happy to move this to cudf if desired

[2019-01-15 00:07] mrocklin commented on #66
(dask does this in order to get the dtypes and such for the output dataframe without doing any work)

[2019-01-15 00:10] kkraus14 commented on #66
Was about to ask if this happens in the actual merge or the meta calculation. Could you raise an issue in cuDF about handling empty dataframes in merges? Thanks!

[2019-01-15 00:11] mrocklin commented on #66
Will do.  Sorry I didn't dive into this earlier.

[2019-01-15 00:11] kkraus14 commented on #66
No worries, I think the bigger thing here is our error messages are cryptic at best 😅

[2019-01-15 17:21] jrhemstad commented on #66
@mrocklin can you confirm that https://github.com/rapidsai/cudf/pull/691 fixes this issue?

[2019-01-15 17:47] randerzander commented on #61
It doesn't _have_ to follow cuDF's numbering, but a similar version numbering scheme would make it clearer to users which versions of cuDF and dask_cudf would work together.

@mrocklin no concerns from me

[2019-01-15 19:01] mrocklin commented on #66
Honestly I haven't yet set up a nice build process on my machine yet, so I may be slow to test this (also playing catch-up today).  This is on my radar and something that is high priority for me, but I don't recommend blocking on my engagement here.  If that PR fixes the cudf issue then I encourage you all to merge it.

[2019-01-15 19:01] mrocklin commented on #66
I can raise more issues if the problem persists.

[2019-01-15 19:02] kkraus14 commented on #66
Will merge the PR and close this issue once CI reports green, if there's subsequent issues lets open new issues to track them. Thanks!

[2019-01-15 22:37] mrocklin commented on #66
This seems to be resolved.  There are other join issues coming up that I'll discuss in https://github.com/rapidsai/dask-cudf/pull/67

[2019-01-15 23:01] #66 closed

[2019-01-31 18:06] cjnolet opened #68 "dask-cudf chunks do not appear to follow one-process-per-GPU semantics"
I am having trouble producing OPG in dask-cudf. I am running a test notebook and all of the chunks in my dask-cudf appear to be staying pinned to the same device. I am likely doing something incorrectly; maybe in the creation of the dask-cudf dataframe? This is important since dask-cuml is going to be processing the dask-cudf downstream and we will need to be able to test this end-to-end.

[code]

[2019-01-31 18:15] cjnolet commented on #68
I want to follow up with the example I described of how I forced OPG within dask-cuml:

First, I assigned a GPU to each worker:
[code]
Next, since I controlled how the underlying cudfs were distributed, I was able to have each worker create a cudf with mocked data for testing:
[code]

So now that I have a future holding both the data and the device assignments on each worker, I am able to have eac

[2019-02-01 03:12] cjnolet commented on #68
After looking through the cudf code a bit, I notice that the there is a serialization layer in there that appears to be smart enough to use IPC Handles when passing cudfs from one process to another on the same host. Is it a safe assumption that the dask layer must be using this serialization logic when cudfs are moved across workers?

I also see that the cudf serializer is using the same cuda con

[2019-02-01 06:55] mrocklin commented on #68
We'll be redoing all of the serialization work here pretty shortly.  I
wouldn't suggest building on top of it.  I can appreciate that that's
probably not a particularly satisfying answer.  My apologies.

On Thu, Jan 31, 2019 at 7:12 PM Corey J. Nolet <notifications@github.com>
wrote:

[2019-02-04 21:03] randerzander commented on #62
This is now working for me in Dask 1.1.1

[2019-02-04 21:03] #62 closed

[2019-02-04 23:05] mrocklin opened #71 "Use cudf byte ranges to build proper read_csv"
Currently the read_csv function reads each file as a single dataframe.  This can be a problem when we have larger files.  Now that cudf supports byte ranges we should be able to read large files into many small blocks (see https://github.com/rapidsai/cudf/pull/807)

This would allow for smoother operation on large files.

For each file we need to look at the size of the file, then create tasks to

[2019-02-06 20:00] mrocklin commented on #40
Note that `get_slice_bound` may not be necessary if cudf Indexes always claim to be non-monotonic (or None, which might be interpretted as "unknown") . There is already a PR to add `is_monotonic` in cudf, though I've abandoned it.  It would be great if someone else would take it over.

[2019-02-06 20:01] mrocklin commented on #71
cc @quasiben

[2019-02-07 01:48] randerzander opened #72 "Create dask-cudf conda package"

[2019-02-07 01:49] randerzander opened #73 "Create dask-cudf pip package"

[2019-02-07 01:57] seunghwak opened #74 "README.md outdated"
**I.**
**Following the instruction**

1. Install dependencies into a new conda environment

conda create -n dask-cudf \
   -c rapidsai -c numba -c conda-forge -c defaults \
   cudf dask cudatoolkit

**produces the following error.**

Collecting package metadata: done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - cudf -> lib

[2019-02-07 03:55] quasiben commented on #71
@mrocklin are you suggesting reimplementing the logic in [text_block_to_pandas](https://github.com/dask/dask/blob/master/dask/dataframe/io/csv.py#L230-L247) and more in `dask.dataframe.read_csv` for `dask-cudf` ? Or would this be flushing out the `(apply, cudf.read_csv, [fn], kwargs)` in the graph ? Perhaps you are thinking of something else entirely

[2019-02-07 04:07] mrocklin commented on #71
Something like the former.  We currently build a graph that is one-task-per-file.  We would like a graph that is one-task-per-chunk-of-file.  The dask.dataframe code is particularly mature.  I don't think we need to go that far (the code in this repository will hopefully someday be just replaced by that code).  I would imagine that this would look something like the following:

[code]

Though ther

[2019-02-10 22:50] #68 closed

[2019-02-11 18:02] randerzander opened #76 "Indexed joins hang"
I'm attempting to do a join along DataFrame indices.

Following repro is based on https://gist.github.com/mrocklin/6e2c33c33b32bc324e3965212f202f66

The snippet below hangs on the last line, and there is no activity in the Dask "status" page.

[code]
Edit:
It looks like the workers eventually die:
[code]

[2019-02-13 21:08] mrocklin opened #79 "Use mainline Dask DataFrame Join implementation"
We should replace the join/merge implementation in dask-cudf with the upstream implementation in dask.dataframe.

The Dask dataframe join implementation is a bit more fully featured than the implementation here in dask-cudf.  In particular it includes solutions for things like joins-on-sorted-indexes (see #76).  Joins against single-partition dataframes, and other common cases.  It would be useful

[2019-02-13 21:14] mrocklin commented on #76
From what I can see the join/merge implementation in dask_cudf doesn't support joins along an index.  (cc'ing with @sklam to verify).  My guess is that the right approach here is to rely on dask.dataframe's implementation here.  I've raised #79 to track this.  I'll continue conversation there.

[2019-02-13 21:18] mrocklin commented on #79
The indexed join implementation in dask.dataframe looks like it can probably be made to work with moderate effort.  This is also one of the blockers in #76 .

The full hash join implementation is probably a more serious effort.  We have plenty of code in there designed to chop up Pandas dataframes efficiently.  Those functions will probably have to be dispatched out, and cudf versions of those imp

[2019-02-14 18:47] mrocklin commented on #71
For people watching this this is implemented in #78 and works fine.  However it has uncovered a couple issues upstream where we drop the occasional row (see https://github.com/rapidsai/cudf/issues/946)

If people like @randerzander or @zronaghi have time to try out that branch that would be welcome.

[2019-02-15 15:39] trstovall opened #80 "dask_cudf.from_cudf fails for single row dataframes"
Repro:
[code]

[2019-02-15 15:40] trstovall opened #81 "dask_cudf.DataFrame fails to compute empty dataframe"
Repro:
[code]

[2019-02-15 15:44] trstovall opened #82 "Inner join not implemented"
Repro:
[code]

[2019-02-15 16:00] trstovall opened #83 "dask_cudf.from_cudf fails when npartitions set to zero"
Repro:
[code]

[2019-02-15 16:01] trstovall opened #84 "dask_cudf.from_cudf fails for empty cudf.DataFrame"
Repro:
[code]

[2019-02-15 16:57] kkraus14 commented on #40
`is_monotonic` is set to static `None` for now. I can look into implementing `get_slice_bound` if it's high priority, but the Pandas documentation isn't clear on the expected behaviors, especially regarding `kind : {‘ix’, ‘loc’, ‘getitem’}`

[2019-02-15 17:38] mrocklin commented on #40
I suspect that None will suffice

On Fri, Feb 15, 2019 at 8:57 AM Keith Kraus <notifications@github.com>
wrote:

[2019-02-18 07:14] zronaghi commented on #71
I just tested that branch on a csv file that we discussed and works fine, thanks!

[2019-02-18 17:17] quasiben opened #85 "dtype handing in CSV is incorrect"
## Data

[code]

## Code
[code]

## Error

I think this is also an error on the cudf side as cudf inspects the dtypes as `[dtype('float64') dtype('<M8[ms]') dtype('int32')]` which is incorrect.

One possible solution right now is to drop the dtype setting in csv.py

cc @mrocklin

[2019-02-18 17:22] mrocklin commented on #85
This is because we get a dtype in the first chunk that ends up not being
correct?

If so then solution for this in dask dataframe was to raise very
informative errors that direct users to supply a correct dtype= keyword.
This is one of the things that we might skip on until we can eventually
merge the two.

On Mon, Feb 18, 2019 at 9:17 AM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-02-18 17:33] quasiben commented on #85
I believe that is correct.  What additionally makes things somewhat challenging at the moment is `parse_date` is still a feature request https://github.com/rapidsai/cudf/issues/721 and cudf blows up when defining the dtype directly.  I'll file an issue now with cudf

[2019-02-18 18:36] #85 closed

[2019-02-18 21:27] trstovall commented on #82
I believe this would be fixed along with #79.

[2019-02-18 23:26] mrocklin commented on #82
Yup, as a warning, I wouldn't expect that effort any sooner than a month
from now

On Mon, Feb 18, 2019 at 1:27 PM trstovall <notifications@github.com> wrote:

[2019-02-18 23:37] mrocklin commented on #84
Thanks for the bug report @trstovall .  Looking at the traceback this seems to be an issue with cudf.  I've reported upstream at https://github.com/rapidsai/cudf/issues/984 .  Closing this.

[2019-02-18 23:37] #84 closed

[2019-02-18 23:39] mrocklin commented on #81
I'm curious, how did you get to a state where you have zero partitions?  Also, are you using master or latest release?

[2019-02-18 23:43] mrocklin commented on #80
We should probably just remove that function.  I recommend `dask.dataframe.from_pandas` instead.

Thanks for raising this issue.  I'll clean things up shortly to prevent future confusion.

[2019-02-19 00:33] Iroy30 opened #87 "max operation changes data in dataframe"
I am trying to find out the max value in a column in the dask-cudf dataframe. Currently using the max operation alters the data in the dataframe which I observe by printing data in each rank. The following code reproduces the issue.

**CODE** :
[code]

**OUTPUT**(4 partitions, 4 ranks):
        a    b
0      1  255
        a    b
1       1    8
        a    b
2      9    8
        a    b
3      9

[2019-02-19 00:41] mrocklin commented on #87
And, just to be clear, you don't want to just call `df.column_name.max().compute()` here, correct?

So, it looks like this code never actually gets computed.  Recall that dask dataframe is lazy by default, so, on its own, this line doesn't do anything.  I would be surprised if it had an effect.

[2019-02-19 00:45] Iroy30 commented on #87
If I understand your question correctly, yes, I initially calculated it as max_node_src_col = ddf[ddf.columns[0]].max().compute(). That gave me the same error. So I removed compute just to narrow it down to the max operation.

[2019-02-19 00:50] mrocklin commented on #87
Just to be clear, dask's max computation seems to work ok for me.

[code]

It sounds like you're saying that the max operation is modifying the data somehow, without calling compute.  This would be very surprising.  If this is the case my guess is that it has more to do with cudf than with the MPI machinery you have in your example.  Are you able to reproduce this issue without the MPI machinery,

[2019-02-19 00:53] mrocklin commented on #83
The answer to this is probably to just use `dd.from_pandas` rather than `dask_cudf.from_cudf`.  I'm in the process of removing the latter function to avoid this confusion now.

[2019-02-19 00:54] Iroy30 commented on #87
yes the max works properly, however it messes with the data. It's not an MPI issue, I have used it just to print out data in each rank.

[2019-02-19 00:59] mrocklin commented on #87
The only reason I can imagine for modifying data would be something odd happening within cudf's operations.   Unfortunately none of those devs are likely to be familiar with the Dask+MPI trick that we're using here.  If it's possible to remove that trick but still demonstrate a problem then that would be useful.  Generally the fewer technological systems we can engage the more and more people we'l

[2019-02-19 01:05] mrocklin commented on #87
Here is an example showing the same state of the dataframes using an in-process cluster.  Unfortunately I'm unable to reproduce the issue.

[code]

[2019-02-19 05:03] Iroy30 commented on #87
When I try to run the same code with few minor changes. (ex: desk_cudf.from_cudf instead of dd.from_pandas) I get the following error.

[code]

[2019-02-19 05:46] Iroy30 commented on #87
In my initial code, computing the max after computing the parts solves the unintended data modification problem. Closing the issue.

[2019-02-19 05:46] #87 closed

[2019-02-19 17:17] randerzander commented on #40
@mrocklin can this be closed now that https://github.com/rapidsai/cudf/pull/958 merged?

[2019-02-19 17:18] #40 closed

[2019-02-19 17:23] randerzander commented on #71
Closed by #78

[2019-02-19 17:23] #71 closed

[2019-02-19 20:06] trstovall commented on #81
See issue #80 for a reproduction of zero partitions.
I'm using the version of dask_cudf that is packaged with Docker container `rapidsai/rapidsai:0.5-cuda10.0-base-ubuntu16.04-gcc5-py3.7`.

[2019-02-19 20:10] mrocklin commented on #81
Yup.  I noticed.  Should have pinged back here.  I've reported a couple things that need to change upstream in cudf and they're working on them now.  Usually these happen within a few days.

You might want to track the dask label in the cudf repository here: https://github.com/rapidsai/cudf/issues?q=is%3Aissue+is%3Aopen+label%3Adask

[2019-02-19 20:13] trstovall commented on #80
Here I am just creating a literal (and arbitrary) `cudf.DataFrame` to reproduce the bug.  The intended use is to recover a `dask_cudf.DataFrame` from mapped `dask_cudf.DataFrame.partitions`.  That mapping may reduce a partition to fewer than two rows.  In such a case, would `dask.dataframe.from_pandas` provide that functionality without the partitions needing to be translated to `pandas.DataFrame`

[2019-02-19 20:21] mrocklin commented on #80
Yes, `dd.from_pandas` can produce a dask dataframe of cudf dataframes without moving to Pandas

[code]

This is part of the effort laid out [here](http://blog.dask.org/2019/01/13/dask-cudf-first-steps) which attempts to remove dask-cudf functionality, and just make the somewhat more mature dask.dataframe codebase comfortable handling Pandas-like dataframes.

I'm not entirely certain that I answere

[2019-02-19 20:33] trstovall opened #88 "[feature request] Specification of "pandas-like dataframe" needed"
As implied by issue #79, dataframe objects managed by dask.dataframe need to be "pandas-like".  Would it be possible to provide a specification that dataframe libraries like pandas, cudf, and others can implement to ensure compatibility with dask.dataframe?  (This is a request for such a specification.)

[2019-02-19 20:42] trstovall commented on #80
Yes, that answers the question.  However, your code snippet correctly computes a `dask_cudf.DataFrame` object from a `cudf.DataFrame` with a single row using `dask_cudf.from_cudf`.  I will pull and build dask and dask-cudf master branches and verify the same on my end.

[2019-02-19 20:46] mrocklin commented on #88
Short answer today is "no, there is no such specification".  Dask dataframe uses various parts of the Pandas API to accomplish things.  The Pandas API is vast, and hard to categorize into well-defined sections.

Currently the relationship with dask-cudf and cudf is that we try dask.dataframe algorithms on cudf dataframes, find a bunch of places where cudf doesn't implement the Pandas API the same

[2019-02-19 20:48] mrocklin commented on #80
Ah, indeed.  I meant to use `dd.from_pandas`.  I think that I'm operating on a local branch where I've set `from_cudf = dd.from_pandas`.  My apologies for the confusion.

[2019-02-20 16:56] dantegd opened #90 "[BUG] Creating a Series after a Dataframe with `from_cudf` method corrupts the Dataframe memory"
**Describe the bug**
Certain sequence of steps for creating a Series and DataFrame consecutively, using `from_cudf` method and then calculating with `compute()`, cause the memory of the first object created to be overwritten/corrupted with element of the second. Since this sequence of events sometimes happens when connecting dask to cuML in some scenarios, it causes issues that happen intermittent

[2019-02-20 17:12] mrocklin commented on #90
cc @kkraus14 any thoughts on what might cause this?

[2019-02-20 17:21] mrocklin commented on #90
This goes away if I remove the dask serialization hack in cudf.  I'll open a PR to cudf that removes it.  I suggest that we go with that for now.  Inter-GPU Intra-node  communication will be slow until UCX landas, but at least it will be correct.

[2019-02-20 17:25] dantegd commented on #90
thanks @mrocklin ! That should be fine for now :)

[2019-02-20 17:28] mrocklin commented on #90
See https://github.com/rapidsai/cudf/pull/1008

[2019-02-21 00:01] mrocklin opened #92 "Solutions for creating random datasets"
For examples and testing it would be useful to have functions to generate random dataframes.

### Use dask.datasets.timeseries

For Pandas-backed Dask Dataframe we have the `dask.datasets.timeseries` function

[code]

In theory we could do something like ...

[code]

except ...

1.   We'll have to use the `dtypes=` keyword to avoid string types (until string support arrives)
2.  We might have to u

[2019-02-21 16:51] quasiben opened #93 "group.agg fails when using multiindex"
when performing groupby operations in the style of:
[code]

dask-cudf fails.  I believe this is currently due to cudf not having support for multiindexes ?  though I'm not quite sure at the moment.  cudf can operate on the above:

[code]

dask-cudf, i think, builds a Multiindex -- in the middle of a debug session:

[code]

So we have columns (y, 'max') and (y, 'sum') and tuples are not supported a

[2019-02-21 16:54] mrocklin commented on #93
See also: https://github.com/rapidsai/cudf/issues/483

On Thu, Feb 21, 2019 at 8:51 AM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-02-21 21:55] mike-wendt commented on #49
@mrocklin so I can get this implemented, do you have someone on your team that can help build the files mentioned above? These will control the build and test process

[2019-02-21 21:56] mrocklin commented on #49
cc @quasiben

[2019-02-21 21:56] mike-wendt commented on #49
@quasiben specifically I need `dask-cudf` versions of these files https://github.com/rapidsai/cudf/tree/branch-0.6/ci

[2019-02-21 22:01] quasiben commented on #49
@mike-wendt sounds.  I'll start working on this shortly

[2019-02-21 22:18] mike-wendt commented on #49
@quasiben let me know when you have a PR, I'll add in what I can if you need help

[2019-02-21 22:23] mike-wendt commented on #49
during the PR we should also drop all Travis CI references but they may be useful to keep around for a bit until we have the conversion complete as they are a good reference

[2019-02-21 22:24] mike-wendt commented on #72
As a part of #49 this will be done

[2019-02-22 15:51] #82 closed

[2019-02-22 17:35] randerzander opened #96 "read_csv doesn't work with gzipped data"
I'm uncertain whether this should be a dask-cudf or cudf issue:

dask-cudf's use of cudf's byte_range parameter prevents read_csv from working if the input files are gzipped:
[code]

I propose either:
1. Having dask-cudf or cudf decompress gzipped files before reading them
2. Detecting that the input is gzipped, and not using the byte_range param when delegating the read to cudf

I prefer option 1

[2019-02-22 17:39] mrocklin commented on #96
This is what we do in dask.dataframe.

In particular we do the following:

[code]

[2019-02-22 17:59] mrocklin commented on #96
cc @quasiben can I ask you to handle this?

[2019-02-22 18:35] quasiben commented on #96
yup yup

[2019-02-22 21:13] randerzander opened #102 "multi-gb joins result in hangs"
While working with the GHCN weather dataset, I ran into a "ValueError: All series must be of same type" which only occurs when working with > 1ish GB of data. Will file in a separate issue.

The below issue occurs both when setting up with LocalCudaCluster (omitted for simplicity), and when using dask_cudf diretly, without cluster.

While trying to boil it down to a simpler repro, I run into hangi

[2019-02-22 21:35] mrocklin commented on #102
I get a segfault when I try this.  Here is the traceback from gdb

[code]

cc @jrhemstad for triage

[2019-02-22 21:56] jrhemstad commented on #102
@mrocklin that looks like an error in the csv_reader:

[code]

[2019-02-22 22:03] mrocklin commented on #102
What is the right way to dig into this deeper?  Try to get a reproducer with just `cudf`?

[2019-02-22 22:04] randerzander commented on #102
Note that when using cudf directly, the same join works fine.

If the trace @jrhemstad 's  referring to is in the CSV reader, might it be related to use of byte_range? @mjsamoht  fyi

[2019-02-22 22:06] jrhemstad commented on #102
I’m afraid I’m pretty clueless when it comes to the csv_reader. You’d need to ping someone working on cuIO directly.

From: Matthew Rocklin <notifications@github.com>
Sent: Friday, February 22, 2019 4:04 PM
To: rapidsai/dask-cudf <dask-cudf@noreply.github.com>
Cc: Jake Hemstad <jhemstad@nvidia.com>; Mention <mention@noreply.github.com>
Subject: Re: [rapidsai/dask-cudf] multi-gb joins result in han

[2019-02-22 22:12] vuule commented on #102
Probably related to byte_range, given that the call is otherwise the same. @mrocklin can you post the arguments of the failing cudf.read_csv call ( within dgd.read_csv)? I cannot repro the issue locally otherwise.

[2019-02-22 22:15] mrocklin commented on #102
Yeah, I'm working on a getting reproducible failure now

[2019-02-22 22:35] mrocklin opened #103 "read_csv fails when we land in the final line"
[code]

[code]

We've landed in the last line, so we don't have any data.  Probably the right thing here is to create an empty dataframe.   Unfortunately we also don't know the right dtypes to use, so read_csv borks.

In dask.dataframe we pass the dtypes, but that causes issues in dask-cudf so we don't do it.

Short term the solution here is probably to make our own chunk read_csv function that ha

[2019-02-22 22:49] mrocklin commented on #102
Small update.  This has nothing to do with joins or with the later partitions.  I can replicate it with the following:

[code]

Still trying to reduce it down so that it doesn't include dask

[2019-02-22 23:03] mrocklin commented on #102
Yeah, this will do it

Here is @randerzander 's prep code from above

[code]

And then here is a failing cudf code to segfault

[code]

Interestingly, it works fine with byte_range with a length of one less or one more

[code]

If it's ok, at this point I'm going to hand investigation off to you all

[2019-02-24 16:49] randerzander opened #104 "Series cast operations result in "ValueError: Length of values does not match index length""
Note: `df['b'].astype('int')` works when using cudf directly

Repro:
[code]

Result:
[code]

[2019-02-24 17:38] mrocklin commented on #104
Thanks for the excellent bug report.  This should be resolved by https://github.com/rapidsai/dask-cudf/pull/105

[2019-02-24 18:24] #104 closed

[2019-02-25 15:20] #103 closed

[2019-02-25 17:11] trstovall opened #107 "TypeError: read_csv() got an unexpected keyword argument 'byte_range'"
[code]
dask_cudf is master branch, cudf is branch-0.6.  Also fails with cudf on master branch.

[2019-02-25 17:23] mrocklin commented on #107
You need cudf branch-0.6

On Mon, Feb 25, 2019 at 9:11 AM trstovall <notifications@github.com> wrote:

[2019-02-25 19:02] vuule commented on #102
Thanks, @mrocklin. I'll look into this today or tomorrow.

[2019-02-25 20:20] vuule commented on #102
Got repro with the steps posted above. After some experimentation, turns out that the issue reproes with any test where the byte range ends at the end of a page (4096B).
However, the issue is intermittent with small byte_range sizes.

[2019-02-25 22:29] vuule commented on #102
@randerzander @mrocklin Can you please merge https://github.com/rapidsai/cudf/pull/1044 and check if it fixes the issue? Verified the fix locally.

[2019-02-26 16:55] randerzander commented on #102
thanks, @vuule using your PR, this issue looks resolved!

[2019-02-26 19:53] #96 closed

[2019-02-26 20:57] randerzander opened #108 "[FEA] Support Parquet, ORC, JSON readers & writers"
cuDF recently merged support for more file formats, including Parquet, ORC, JSON, Feather, and HDF5.

Today we can work with those file formats by using dask.read_parquet, etc, but that'll convert them to Pandas DataFrames, and requires the user to then do a .map_partitions to turn pd.DataFrames into cudf.DataFrames. That is slow and a painful user experience.

dask-cudf should be extended to hand

[2019-02-26 21:00] mrocklin commented on #108
cuDF's current support for those formats just uses the pandas reader and then converts to cudf afterwards.  So you'll be experiencing that pain either way.

[2019-02-26 21:01] randerzander commented on #108
I believe they use Arrow's readers, not Pandas's, despite implementing Pandas's APIs.

I could be wrong. @kkraus14 for comment

[2019-02-26 21:20] randerzander opened #109 "[FEA] Support reading from cloud storage URLs"
Dask can [read from cloud storage & HDFS](http://docs.dask.org/en/latest/remote-data-services.html) but reads into Pandas DataFrames. Today we can get that into dask_cudf with map_partitions and cudf.from_pandas, but that is slow and would be painful for users.

dask-cudf should support reading from S3, Google Cloud Storage, and Azure Data Lake Storage and passing directly into cudf file readers.

[2019-02-26 21:44] mrocklin commented on #108
Both Pandas and Dask DataFrame also use Arrow for Parquet and ORC.   I don't think that the difference matters much here.  They're all reading into host memory.

There is some work to refactor Dask DataFrame's parquet reader to be friendlier for a future CUDA reader here: https://github.com/dask/dask/pull/4336 .  I'll be excited about this once cudf/cuio has a proper reader.  Until then I don't th

[2019-02-26 21:51] mrocklin commented on #109
Yeah, we can do that, at least to the extent that cudf/cuio's readers can accept Python `bytes` objects as inputs.  I believe that this is true for `cudf.read_csv` at least today.

This might be as easy as adding a line like the following to dask-cudf

https://github.com/dask/dask/blob/6ecbb0cae94fd3c12e799b5c9721dd373117f2c7/dask/dataframe/io/csv.py#L495

[code]

My guess is that we'll find minor

[2019-02-26 22:10] randerzander commented on #108
Thanks for the details, @mrocklin

[2019-02-26 22:20] beckernick opened #110 "[BUG] from_cudf fails due to lack of is_monotonic_increasing attribute of RangeIndex"
## Description

Calling `from_cudf` on a GPU dataframe/series fails with an attribute error of `RangeIndex' object has no attribute 'is_monotonic_increasing'`.

## Example
[code]

## Environment
[code]
Dask-cuda and Dask-cudf installed from the `setup.py` files, while in this environment.

[2019-02-26 22:51] mrocklin commented on #110
I recommend trying cudf branch-0.6

On Tue, Feb 26, 2019 at 2:20 PM Nick Becker <notifications@github.com>
wrote:

[2019-02-26 23:13] randerzander commented on #109
This one is a must, given the push for YARN & Kubernetes deployments.

Note: I added HDFS above.

I'll defer commenting on priority vs "small usability bugs" until we've listed more of them.

[2019-02-27 15:23] beckernick commented on #110
Yep, that's on me. Thanks!

Closing.

[2019-02-27 15:23] #110 closed

[2019-02-27 15:24] mrocklin commented on #110
Well, it's more on the state of rapidly moving and somewhat unstable
software.  Thanks for trying things out on dev branches!

On Wed, Feb 27, 2019 at 7:23 AM Nick Becker <notifications@github.com>
wrote:

[2019-02-27 15:31] mrocklin commented on #109
We should be able to test this on local data.  I'll propose the following solution:

[code]

Then I would test with local data and `'file:///path/to/mydata.*.csv'`.  If that works then I would expect s3/gcs/adl/hdfs to work just the same.

[2019-02-27 15:39] beckernick opened #111 "[FEA] Ascending parameter in DataFrame.sort_values"
## Request

Like cudf, it would be nice if the `sort_values` method were parameterized to allow ascending or descending sorts.

## Example

The following cuDF code sorts in descending order:

[code]

But the equivalent dask_cudf example fails:

[code]

[2019-02-27 15:46] beckernick opened #112 "[FEA] dask_cudf.from_pandas equivalent functionality"
## Request

As a user, I want to go directly from a pandas dataframe to a dask_cudf dataframe, rather than a Dask.distributed DataFrame.

## Example

[code]

[2019-02-27 15:58] mrocklin commented on #112
Personally I'm inclined to remove the `from_cudf` function and instead direct users to use the following two functions

-  `cudf.from_pandas`: converts a pandas dataframe to a cudf dataframe
-  `dd.from_pandas`: converts a pandas or cudf dataframe into the dask equivalent

So if you wanted to go from cudf to dask+cudf you would do one of the two following operations:

[code]

Can I ask for a bit m

[2019-02-27 16:03] beckernick commented on #112
I don't feel strongly about the `from_cudf` function itself. I'm mostly thinking about user's entry point into the RAPIDS ecosystem.

If the entry point becomes `dask_cudf`, with direct `cudf` library usage eventually largely being focused on internals, I think we'd want to have a clean way for users of `dask_cudf` to take a pandas dataframe and convert it to a dask_cudf dataframe. Curious to hear

[2019-02-27 16:24] mrocklin commented on #112
Right, so my question then becomes, are the two methods above not
sufficiently clean?  Are people likely to get stuck on them in practice.

My hope is for dask-cudf to eventually not exist, and for most people to
just use dask.dataframe with cudf dataframes (see
http://blog.dask.org/2019/01/13/dask-cudf-first-steps) so in general I'd
like to move people away from specialized functions like
dask_cu

[2019-02-27 19:02] beckernick opened #113 "[BUG] loc fails in dask dataframes constructed from cudf"
## Description
`loc` selector fails in dask_cudf dataframes created from cudf dataframes, seemingly due to the `GenericIndex` not being an instance of `pd.Index`.

## Expected Behavior
As a user, I expect `loc` selection to succeed if I create a dask_cudf dataframe from cudf or pandas.

## Example

The follow example going from pandas succeeds.
[code]

This example, going to dask_cudf from a cudf

[2019-02-27 19:29] beckernick opened #114 "[FEA] Selection by position, like numpy/pandas/cudf"
## Request
As a user, I would like to be able to use positional indexing to select rows, ideally with the `iloc` accessor.

Currently, the `iloc` accessor only supports selecting full columns (via column-based positional indexing).

## Dask_cudf Behavior Selecting Specific Rows

[code]

## Example Pandas Behavior

[code]

[2019-02-27 19:36] quasiben commented on #113
If you have a GenericIndex you could call `reset_index(force=True)` which will trigger the index to be set to a RangeIndex:

[code]

So to fix your problem right now you would call :
[code]

[2019-02-27 19:37] mrocklin commented on #114
Yup, dask dataframe doesn't support iloc.  This is unlikely to change.
It's hard to lazily determine which values are exactly where without
preloading everything.

On Wed, Feb 27, 2019 at 11:29 AM Nick Becker <notifications@github.com>
wrote:

[2019-02-27 19:42] mrocklin commented on #113
It looks like this is a genuine issue though.  We should just fix the
underlying issue rather than working around it.

We started replacing isinstance(..., pd.Index) with
dask.dataframe.utils.is_index_like in many cases to avoid situations like
this.   @quasiben want to try that out in dask/dask and see if that
resolves the problem?

On Wed, Feb 27, 2019 at 11:36 AM Benjamin Zaitlen <notifications

[2019-02-27 19:45] quasiben commented on #113
👍

[2019-02-27 19:56] beckernick opened #115 "[FEA] Support Direct Boolean Indexing on Series"
## Request

Standard Dask Dataframes support direct Boolean indexing of both Series and DataFrames, but dask_cudf DataFrames currently only support Boolean indexing on DataFrames. As a user, I may want to directly index Series objects.

## Standard Dask Example

[code]

## Dask_cudf Example

[code]

[2019-02-27 19:57] mrocklin opened #116 "Add API docs"
It would be useful to have a whitelist of operations that do work under Dask-cuDF.

We'll be in a tough spot expectation-wise because both cudf and dask.dataframe will have more functionality than this project, and so people will probably expect more from us than we can deliver.  Having a page that we can point them to to reset expectations will probably be handy.

[2019-02-27 19:57] mrocklin commented on #116
We don't currently have docs in this repo, so this probably has to go into rapidsai/cudf ?

[2019-02-27 20:01] mrocklin commented on #115
Verified.  I see what's wrong there.  Should be an easy fix.  Thanks for
reporting.

On Wed, Feb 27, 2019 at 11:56 AM Nick Becker <notifications@github.com>
wrote:

[2019-02-27 20:01] quasiben commented on #113
PR https://github.com/dask/dask/pull/4531 seems to resolve the issue

[2019-02-27 20:10] beckernick opened #117 "[FEA] Implement fillna method for DataFrame class"
## Request

As a user, I may want to call `fillna` on an entire dataframe. Standard dask dataframes have this functionality, but dask_cudf dataframes currently do not.

# Standard Dask Example
[code]

# Dask Cudf Example
[code]

[2019-02-27 20:10] vuule commented on #102
@randerzander The PR has been merged into branch-0.6

[2019-02-27 20:13] beckernick opened #118 "[BUG] Series fillna fails from unexpected keyword argument 'method'"
## Description
As a user, I may want to fill in missing values in a Series. Currently, filling in missing values in a dask_cudf Series appears to fail due to the method not having a `method` keyword argument. The equivalent functionality works on a standard Dask Series.

## Standard Dask Example
[code]

## Dask Cudf Example

[code]

## Environment Information
[code]

[2019-02-27 20:54] beckernick opened #119 "[BUG] Series Apply fails (seemingly) due to lack of apply method in cudf.Series"
## Request

As a user, I want to apply elementwise functions to transform my columns. I can do this with standard dask dataframes (with a slightly different API), but not with dask_cudf dataframes.

The existing `apply` method in dask_cudf appears to be attempting to leverage the `apply` method of a `cudf.Series`, which doesn't exist. There is an `applymap` method, though, that generally appears t

[2019-02-27 21:04] beckernick opened #120 "[FEA] Implement a Series value_counts function, equivalent to pandas/cudf"
## Request
As a user, I want to get the counts of each unique value in a given Series for potential distributional analyses and visualizations.

## Standard Dask Example

[code]

[2019-02-27 21:09] mrocklin commented on #117
This likely has to be reported upstream in rapidsai/cudf .  The DataFrame
object there needs to support fillna before the Dask version can.

On Wed, Feb 27, 2019 at 12:10 PM Nick Becker <notifications@github.com>
wrote:

[2019-02-27 21:10] mrocklin commented on #118
This will need to reported upstream in rapidsai/cudf .  We're just passing
things through here.

On Wed, Feb 27, 2019 at 12:13 PM Nick Becker <notifications@github.com>
wrote:

[2019-02-27 21:14] mrocklin commented on #119
Apply is a bit tricky I assume because we don't have a good way to convert
Pythonic user functions into CUDA.  Maybe Numba?   Regardless, I think I'm
also going to kick this one up to rapidsai/cudf.  I think it's mostly a
cudf issue.

On Wed, Feb 27, 2019 at 12:54 PM Nick Becker <notifications@github.com>
wrote:

[2019-02-27 21:37] mrocklin commented on #109
cc @beberg

[2019-02-27 21:44] randerzander commented on #102
Thanks, @vuule !

[2019-02-27 21:44] #102 closed

[2019-02-27 21:50] randerzander commented on #116
We've had a little back and forth discussion over where such docs would live.

I'm in favor of adding a page to the cudf API docs listing the operations we've collectively tested, whether provided by dask-cudf, or, where possible, having dask.dataframe successfully use cudf operations without dask-cudf (e.g. [your join example](https://gist.github.com/mrocklin/6e2c33c33b32bc324e3965212f202f66))

@

[2019-02-27 21:54] mrocklin commented on #120
What happens when you try this with a dask dataframe with cudf dataframes?
Can I ask you to include a tracebackof the error?  This can help to
accelerate triage considerably.

On Wed, Feb 27, 2019 at 1:04 PM Nick Becker <notifications@github.com>
wrote:

[2019-02-27 23:10] beckernick commented on #117
Makes sense. Will do.

[2019-02-27 23:12] beckernick commented on #120
Yep, will add tonight. Working on the train caused me to forget including the failure mode for this issue 😄

[2019-02-28 16:37] #107 closed

[2019-02-28 20:16] mrocklin commented on #76
As an update, we're waiting on https://github.com/rapidsai/cudf/pull/1052 for this.  Progress looks good.  After that this should work: https://github.com/rapidsai/dask-cudf/pull/91

[2019-02-28 20:17] mrocklin commented on #83
I believe that this has been fixed.  `dask_cudf.from_cudf` is now just `dd.from_pandas`.  Closing.

[2019-02-28 20:17] #83 closed

[2019-02-28 20:18] mrocklin commented on #109
This is in progress at https://github.com/rapidsai/dask-cudf/pull/122 , which is currently depending on https://github.com/rapidsai/cudf/pull/1066

[2019-02-28 20:19] mrocklin commented on #81
Does this still arise?  Now that we've removed the buggy implementation of `dask_cudf.from_cudf` are there other cases where we can end up with zero partitions?

[2019-02-28 20:32] mrocklin commented on #111
To be honest I'm not very familiar with the sort_values implementation.  It's somewhat complex and not something that dask.dataframe ever supported.  My guess is that I'll probably wait to dive into this code until after other things have been resolved.

[2019-02-28 20:32] mrocklin commented on #114
I'm going to close this as "won't fix"

[2019-02-28 20:32] #114 closed

[2019-02-28 20:32] mrocklin commented on #113
Fixed upstream in Dask

[2019-02-28 20:32] #113 closed

[2019-03-01 01:40] beckernick commented on #120
Problem was on my end. This pass through works as expected. Closing this issue.

[2019-03-01 01:40] #120 closed

[2019-03-01 01:58] beckernick opened #123 "[BUG] Concat appears to return None and also not modify existing objects"
## Description
As a user, I want to concatenate dask_cudf DataFrames in my workflows. `dask_cudf.concat` appears to fail with `cudf` DataFrames. Standard dask dataframes can be concatenated with `dd.concat`.

## Standard Dask Example

[code]

## Dask Cudf Example

[code]

[2019-03-01 02:22] beckernick opened #124 "[BUG] left join style merge reorders resultant dataframe"
## Description
As a user, I expect the resultant dataframe from a left join to preserve the row ordering from my `left` dataframe. This reordering occurs when the `left` and `right` dataframes have all keys in common and when the `right` dataframe only has a subset of the `left`'s keys.

## Example
[code]

[2019-03-01 02:33] mrocklin commented on #120
Huzzah!

On Thu, Feb 28, 2019 at 5:40 PM Nick Becker <notifications@github.com>
wrote:

[2019-03-01 02:40] beckernick opened #125 "[BUG] Groupby aggregations on multiple columns fail with second column not found"
## Description
As a user, I want to compute hierarchical aggregations by grouping on multiple columns. Passing a list of column names to the `groupby` API causes a column not found error, while grouping by each column individually succeeds. The second column in the list is the one that isn't found.

## Standard Dask Example (Expected Result)
[code]

## Dask Cudf Example
[code]

[2019-03-01 02:52] mrocklin commented on #123
Thanks for the bug report @beckernick !

As seems to be becoming the standard pattern, just removing the solution in dask-cudf and relying on the mainline dask codebase seems to work out ok :)

Fixed in https://github.com/rapidsai/dask-cudf/pull/126

[2019-03-01 02:53] mrocklin commented on #125
Yup, currently cudf doesn't support MultiIndexes.  It's not clear what the
medium term solution to this is likely to be.

On Thu, Feb 28, 2019 at 6:40 PM Nick Becker <notifications@github.com>
wrote:

[2019-03-01 03:12] beckernick opened #127 "[QST] to_csv and other methods fail due to lack of upstream implementation"
## Description
As a user, I want to write my dask_cudf dataframes to CSV files for storage. Currently, a `to_csv` API is exposed but causes an error due to a lack of upstream `to_csv` implementation in cuDF. This is a known feature request for cuDF, but is relevant here as the exposed `to_csv` API may confuse users of dask_cudf.

The broader question is, how do we want to handle broken dask_cudf A

[2019-03-01 03:23] beckernick commented on #125
Looks like you're right. We seem to have created a workaround in cuDF leveraging the GenericIndex and a semi-hacky integration of one of the groupby columns into the columns of the dataframe.

[code]

[2019-03-01 14:47] beckernick opened #128 "[FEA] Support local variables in query API"
## Description
As a user, I will want to pass local variables to query dask_cudf DataFrames. This is particularly useful for timestamp and datetime based querying. Am I able to do this with the `local_dict` keyword argument in standard dask, but it's currently not implemented in dask_cudf.

## Standard Dask Example
[code]

## Dask Cudf Example
Passing a `local_dict` results in a keyword argument e

[2019-03-01 14:53] beckernick opened #129 "[BUG] Cannot set indexes of type datetime64"
## Description
As a user, I may want to set a datetime column to be the index of my dask_cudf DataFrame. Currently, this causes an error in dask_cudf, but succeeds in both standard cuDF dataframes and standard dask dataframes.

Will add standard examples shortly.

## Standard Cudf Example

## Standard Dask Example

## Dask Cudf Example
[code]

[2019-03-01 16:11] mrocklin commented on #128
My inclination here is to remove the implementation of query in dask-cudf and just rely on the dask dataframe implementation, which passes arguments down to cudf.query.

It looks like `cudf.query` doesn't yet support passing in a local dict, but perhaps that would be a good issue to raise upstream.

[2019-03-01 16:16] beckernick commented on #128
I think it depends on what we ultimately want the end user API to look like. cuDF doesn't support passing a local dictionary, but does support using the `@` character to refer to variables in the environment, like so:

[code]

Personally, as a user I prefer this to passing a local dictionary, but there are of course pros and cons to both. Whether this is worth raising upstream might depend on if w

[2019-03-01 16:21] mrocklin commented on #128
I see, if the cudf implementation does what you want then my guess is that we can probably just drop the query implementation in dask-cudf now and things will probably just work.  If you are using pandas dataframes then you'll have to adhere to how pandas likes to do things, if you use cudf dataframes then you'll have to adhere to how cudf likes to do things.  In either case the dask implementatio

[2019-03-01 16:24] beckernick commented on #128
Happy to pick this up.

[2019-03-01 16:40] #123 closed

[2019-03-01 18:18] beckernick commented on #128
@randerzander for visibility.

After removing the top level query and DataFrame class query, errors related to local variables persist. It seems to not be fully passing through the cuDF `DataFrame.query` API.

[code]

The `NameError: 'val' not defined in the calling environment` exception comes from [here](https://github.com/rapidsai/cudf/blob/branch-0.6/python/cudf/utils/queryutils.py#L211) in cu

[2019-03-01 18:22] mrocklin commented on #128
Oh, yeah, if cudf.query is grabbing things from the local scope then that's probably not going to work, especially in a distributed environment.  In general I think I'm -1 on that API anyway, just to avoid magic.

[2019-03-01 21:32] beckernick commented on #128
Understood. I still wanted to investigate this a bit more, so I rewrote the cuDF query API to have visibility into variables from all the way up the stack (changed [this portion](https://github.com/rapidsai/cudf/blob/branch-0.6/python/cudf/dataframe/dataframe.py#L1779)):

[code]

Even with visibility to the entire stack's variables, cuDF doesn't appear to have access to the values passed in throug

[2019-03-01 21:37] mrocklin commented on #128
Correct, Dask is lazy so the scope when the user calls the function and the
scope when we execute the function are likely to be different.

On Fri, Mar 1, 2019 at 1:32 PM Nick Becker <notifications@github.com> wrote:

[2019-03-04 22:25] paulhendricks opened #130 "[FEA] Implement `one_hot_encoding` method"
**Is your feature request related to a problem? Please describe.**

Implement the `one_hot_encoding` method for `dask.dataframe.core.DataFrame`.

[code]
Error message below:

[code]

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

Have not found a workaround but will continue to explore.

**Additional context**

cuDF documentation: https://rapidsai.github

[2019-03-04 22:47] mrocklin commented on #130
The relevant Pandas / Dask DataFrame operation here is probably [get_dummies](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html).

Although that will also almost certainly fail :)

[2019-03-04 22:51] paulhendricks commented on #130
Correct! I submitted that Feature Request on cudf: https://github.com/rapidsai/cudf/issues/1063

The `one_hot_encoding` method can be used to implement `get_dummies`. Alternatively, either `one_hot_encoding` or `get_dummies` can accept a list of one or more column names and produce the desired result.

[2019-03-05 00:08] em-watkins opened #131 "[QST] py.test dask_cudf applicable inside pre-built rapidsai containers?"
Question -
The main page for dask-cudf mentions running a test suite `py.test dask_cudf` after setting up from source.
https://github.com/rapidsai/dask-cudf/blob/master/README.md
Are those tests applicable when using a prebuilt rapidsai container? They don't seem to do well :)

I only got the idea to run the test from the README.md text, so I was just a little surprised that the tests weren't pass

[2019-03-05 00:36] mrocklin commented on #131
The dask-cudf package is currently tracking cudf branch-0.6 . I wouldn't
expect anything to work across different cudf/dask-cudf versions.

On Mon, Mar 4, 2019 at 6:08 PM em-watkins <notifications@github.com> wrote:

[2019-03-05 00:37] mrocklin commented on #131
I recommend testing the development version of cudf with the development
version of dask-cudf.

On Mon, Mar 4, 2019 at 6:36 PM Matthew Rocklin <mrocklin@gmail.com> wrote:

[2019-03-05 16:19] mrocklin commented on #109
Fixed in #122 by @quasiben

[code]

[2019-03-05 16:19] #109 closed

[2019-03-05 19:53] randerzander opened #133 "[FEA] dask-cudf should expose cudf functions that don't have dask equivalents"
cudf has functions which don't have dask analogues.

For example:
[code]

Result:
[code]

For a cudf user, this error is confusing. I went to look at cudf's API to see if cudf dropped this function before realizing it just doesn't exist in dask-cudf.

Other similar functions include `to_gpu_matrix`, `as_gpu_matrix`, `from_gpu_matrix`.

Instead of adding such methods to dask-cudf, would it make sen

[2019-03-05 19:58] #76 closed

[2019-03-05 19:59] randerzander commented on #133
For posterity, here's the full workaround for using `to_device_array` with nvstrings, which was the original motivation for feature request:
[code]

[2019-03-05 20:01] mrocklin commented on #133
I think that we might try to solve this in the same way that Pandas did with extension namespaces.  cc @TomAugspurger

So dask-cudf would establish a namespace in dask.dataframe, like `.cudf`, and the dask-cudf project would populate that.

This would mean that you would do something like

[code]

You can also do things today like

    ddf['ones'].values

or

    ddf['ones'].map_partitions(my_cudf

[2019-03-05 21:15] quasiben commented on #129
I can reproduce this and I'm looking at it now

[2019-03-05 21:22] mrocklin commented on #115
This is being handled, I think, in https://github.com/dask/dask/pull/4533

[2019-03-05 21:25] quasiben commented on #129
I think this is an upstream issue related to datetime columns not implementing sort.

[2019-03-05 21:31] mrocklin commented on #129
Dask-cuDF has a custom sort method that I haven't gotten deeply into.  I'm
inclined to pause on most work around sorting/setting the index until we
can solve all of it properly.

On Tue, Mar 5, 2019 at 3:25 PM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-03-05 21:38] mrocklin commented on #128
So, to summarize things here I think that we just shouldn't support the magic scope features.  OK to close?  Are there other changes in cudf or dask-cudf that we can make to make query more pleasant?

[2019-03-05 21:38] mrocklin commented on #125
Failing tests in https://github.com/rapidsai/dask-cudf/pull/134

[2019-03-05 21:43] mrocklin commented on #80
This has been fixed.  We've removed the `dask_cudf.from_cudf` implementation in favor of `dd.from_pandas.

[2019-03-05 21:43] #80 closed

[2019-03-05 21:44] mrocklin commented on #81
Now that #80 is closed I'm going to close this as well. If there is some way to create dask dataframes with zero partitions I'd love to hear more about it.

[2019-03-05 21:44] #81 closed

[2019-03-05 21:48] mrocklin commented on #117
Reported upstream in https://github.com/rapidsai/cudf/issues/1106

I suspect that things will just work if that follows the Pandas API appropriately.  Closing this for now.  Please reopen if the upstream issue gets resolved but things still don't work.

[2019-03-05 21:48] #117 closed

[2019-03-05 21:57] mrocklin commented on #118
Possibly fixed by https://github.com/rapidsai/cudf/pull/1107

[2019-03-05 22:08] quasiben commented on #129
The above sample code works with https://github.com/rapidsai/cudf/pull/1108

[2019-03-06 02:05] #118 closed

[2019-03-06 02:24] quasiben commented on #129
With rapidsai/cudf#1108 merged I added a test to confirm this is no longer an issue: https://github.com/rapidsai/dask-cudf/pull/135 .

[2019-03-06 05:10] randerzander opened #136 "[BUG] dask_cudf.merge results in unexpected keyword argument 'suffixes'"
[code]

Result:
[code]

[2019-03-06 13:54] mrocklin commented on #136
This was changed in https://github.com/rapidsai/cudf/pull/1091

You need to update cudf

[2019-03-06 17:57] quasiben commented on #125
After a bit of research within dask/cudf/dask-cudf I don't think we can support multicolumn groupby without MultiIndex support from cudf (https://github.com/rapidsai/cudf/issues/483) .  I believe dask chunks the groupby objects with a MultiIndex created from an internal call within dask based on the by parameter:

[code]

I don't see how we can easily work around this in either the dask or cudf co

[2019-03-06 18:06] quasiben commented on #115
@mrocklin mentioned having "compatilbity code" issues.  I test locally and things work without incident.  I'll submit a PR with the test shortly

[2019-03-06 19:10] randerzander commented on #136
Thanks, was working from an out of date branch.

[2019-03-06 19:10] #136 closed

[2019-03-06 23:28] randerzander opened #138 "[BUG] Automatic decompression not working for file URLs"
Reading uncompressed files works, but if the files are gzipped, read_csv throws unicode decode errors.

Repro:
[code]
Result:
[code]

[2019-03-06 23:35] mrocklin commented on #138
Try passing in compression='gzip'

On Wed, Mar 6, 2019 at 5:28 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-03-06 23:41] randerzander commented on #138
This works:
[code]

[2019-03-06 23:43] mrocklin opened #139 "Profile indexed joins"
Here is a notebook which does indexed joins.  The data prep is a bit messy (I'll look at cleaning this up soonish) but the actual dask-cudf joins are pretty slick.  Here is the resulting profile output:

https://gist.github.com/mrocklin/ab10c61a17391e8dbc7577f83fc4d25d

[2019-03-06 23:43] mrocklin commented on #139
cc @randerzander @kkraus14

[2019-03-07 00:27] mrocklin commented on #138
Happy to hear it

Also, just as a warning, gzipped files will always be single partition.  It looks like you might have several such files though.

[2019-03-07 00:27] mrocklin commented on #138
OK to close?

[2019-03-07 01:59] randerzander commented on #138
Didn't realize Dask also doesn't infer compression for the user.

And yes, I noticed the warning. Thanks!

[2019-03-07 01:59] #138 closed

[2019-03-07 02:01] mrocklin commented on #138
I think that came up at one point.  I think that Pandas didn't so we
decided to follow suit.

On Wed, Mar 6, 2019 at 7:59 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-03-07 02:13] randerzander commented on #128
I agree with @mrocklin that we should raise a cudf issue to support local dicts in `query`, and then rely on mainline dask.

In the meantime for dask-cudf, relying on string encoding query variables is an ok workaround.

[2019-03-07 06:07] AK-ayush opened #140 "`dask_cudf` cluster on kubernetes?"
I am trying to create a multi-node `dask_cudf` cluster on kubernetes… Is there any resource available for the same??

[2019-03-07 06:08] datametrician commented on #140
@beberg would you share what you're working on (your private github is fine for now)

[2019-03-08 05:02] AK-ayush opened #141 "dask-dataframe is creating single task and npartition=1 always"
I am going through this [blog](https://blog.dask.org/2019/01/29/cudf-joins). I have create cluster using dask-cuda with 2 V100 GPUs. And when I create a dask-dataframe, it is always created with single task and npartition=1
but ideally it should create **4 task** and **npartitions=4**.

`dask==1.1.3`
`dask-cuda= build from master `
`dask-cudf= build from master `

![image](https://user-images.gith

[2019-03-08 05:05] kkraus14 commented on #141
@AK-ayush I believe dask-cudf depends on cudf 0.6 which is not quite yet released. I know we added the suffixes keyword to cudf 0.6 in the past week or so.

[2019-03-08 06:42] AK-ayush commented on #141
So `merge()` error can be solved by building cudf from source.
But what the reason behind the `npartition=1` in dask dataframe in first sceenshot?

[2019-03-08 11:17] AK-ayush opened #142 "TypeError: can't pickle CompiledFFI objects"
I am trying to run [this notebook](https://gist.github.com/AK-ayush/c004868c6cdee15698d2582b13a671e7) using dask.

When I run each cell as in sequential manner, it is running perfectly
but when I create a dask dag and then it is giving this error: `TypeError: can't pickle CompiledFFI objects`

[2019-03-08 15:16] quasiben commented on #142
@AK-ayush can you try calling delayed directly on the function and store in another variable:

[code]

This issue has also been somewhat discussed here:
https://github.com/dask/dask/issues/3369

[2019-03-08 15:49] mrocklin commented on #141
You can control the chunking with the chunks= keyword to the dask array functions.  http://docs.dask.org/en/latest/array-creation.html

[2019-03-08 16:00] AK-ayush commented on #142
Thanks @quasiben , I followed as you suggested and used delayed directly on function. i have updated the above github gist  [notebook](https://gist.github.com/AK-ayush/c004868c6cdee15698d2582b13a671e7)

`pickle.dumps()` is working fine but when I run `gdf.compute()`, it is giving the same error.

[2019-03-08 16:04] AK-ayush commented on #141
@mrocklin I can see in your blog that dask dataframe got partitioned in 64(8x8) partitions automatically but in my case it is just one partition every time, so I was just curious.
Thanks for `chunks=` keyword though .

[2019-03-08 16:09] mrocklin commented on #141
Hrm, that's definitely not standard behavior. Which blog?

On Fri, Mar 8, 2019 at 8:04 AM Ayush Kumar <notifications@github.com> wrote:

[2019-03-08 16:11] AK-ayush commented on #141
check out this github gist  https://gist.github.com/mrocklin/6e2c33c33b32bc324e3965212f202f66

[2019-03-08 16:12] mrocklin commented on #141
If you don't specify chunks then it uses the default chunk size, which I
think is something like 128 MiB

On Fri, Mar 8, 2019 at 8:11 AM Ayush Kumar <notifications@github.com> wrote:

[2019-03-08 16:15] AK-ayush commented on #141
ohh okay, that sounds reasonable.   Thanks.

Both of my issue got answered, I guess, you can close this issue if you want.

[2019-03-08 16:17] mrocklin commented on #141
Go for it.  You should be able to self-close by pressing the close button
just underneath this comment.

On Fri, Mar 8, 2019 at 8:15 AM Ayush Kumar <notifications@github.com> wrote:

[2019-03-08 16:18] #141 closed

[2019-03-08 16:23] mrocklin commented on #141
Thanks!

I spend my mornings handling around 50 of these sorts of issues across
different projects, so little things like self-closing are really
appreciated :)

On Fri, Mar 8, 2019 at 8:18 AM Ayush Kumar <notifications@github.com> wrote:

[2019-03-08 17:17] quasiben commented on #142
I would recommend not running with distributed right away as the errors can sometime be obfuscated.    For example, with only cudf, and dask.delayed I get an error in your code:

[code]

[2019-03-08 17:24] VibhuJawa opened #143 "[FEA] FileNotFoundError instead of IndexError: list index out of range"
# FileNotFoundError  instead of IndexError: list index out of range
Currently, the error message in case the path is incorrect  in cudf.read_csv is IndexError which is a bit confusing and it says nothing about the invalid path .

`dask_cudf.read_csv('Dummy_dir')`

Error Trace:
[code]

We need to  add a check after this [line](https://github.com/rapidsai/dask-cudf/blob/master/dask_cudf/io/csv.py#L2

[2019-03-08 17:25] mrocklin commented on #142
http://docs.dask.org/en/latest/debugging.html#use-the-single-threaded-scheduler

On Fri, Mar 8, 2019 at 9:17 AM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-03-08 18:24] VibhuJawa opened #144 "GDF_MEMORYMANAGER_ERROR when reading a single large file with dask_cudf.read_csv"
# GDF_MEMORYMANAGER_ERROR when reading a single large file with dask_cudf.read_csv

When trying to read a single very large file with  dask_cudf.read_csv it throws GDFError: GDF_MEMORYMANAGER_ERROR .

It appears that it tries to load the file only a single worker.

### Code to generate and read the large single file
[code]

### Client Print

[code]

### Error Trace

[code]
### NVIDIA-SMI  after th

[2019-03-08 18:34] mrocklin commented on #144
Thanks for raising @VibhuJawa

Right, I think that we do currently read the whole first file to get dtypes.  We should probably only read a chunk, similar to how dask dataframe does.

Short term I recommend that you do the following, which uses the mainline dask codebase (but still uses cudf.read_csv):

    df = dask_cudf.read_csv('file:///path/to/myfile.csv')

This does route the data through hos

[2019-03-08 19:50] mrocklin commented on #139
@jrhemstad asks the question about where `boundary_slice` is coming from.  This is from

[code]

Which is coming from `repartition`

Which is coming from the indexed join process, which takes two dataframes that are sorted along the same index, but are partitioned differently.  So for example you might have two timeseries, one partitioned by month and one by week and you want to change both so tha

[2019-03-08 19:52] jrhemstad commented on #139
Looking at the [profile](https://matthewrocklin.com/raw-host/dask-cudf-indexed-join-profile.html) I see that only about 20% of the total time is actually spent in the `merge` operation (and only 50% of that 20% looks to actually be spent in libcudf).

My first question is what is going on in the remaining 80%? Obviously the `merge` is not the bottleneck, so if we want to make this workflow faster

[2019-03-08 21:12] quasiben commented on #143
Yeah, I'll add this in

[2019-03-08 21:58] mrocklin commented on #133
In general though I'm also fine with adding methods to dask-cudf.  I'd like to look at these on a case by case basis though, and see if there is some more general way to do things.

[2019-03-08 22:31] VibhuJawa commented on #144
@mrocklin Thanks for this. This works like a charm

[2019-03-08 22:36] mrocklin commented on #144
Most of our work on dask-cudf recently has been removing parts of it, and redirecting it towards the mainline dask codebase.  If you can get to that point then things are usually pretty smooth.

[2019-03-08 23:12] mrocklin opened #146 "What works and what doesn't doc"
Folks have asked for a document explaining what works and what doesn't.  I wrote up a rough draft.  Where should this live?  @randerzander @taureandyernv

[code]

[2019-03-08 23:30] #143 closed

[2019-03-10 02:46] randerzander commented on #146
cudf and dask-cudf are distinct projects, and thus have two distinct APIs.

However, the considerable overlap in user-base, supported functionality, and APIs between the two makes me lean towards adding this as a new page (or at least linked from)  [cudf's API docs](https://rapidsai.github.io/projects/cudf/en/latest).

@kkraus14 @mrocklin any objection to that for now?

[2019-03-10 03:58] VibhuJawa opened #147 "Inner Join Memory Usage Shoots Up leading to Exception: CUDA ERROR"
# Inner Join Memory Usage Shoots Up Leading to Exception: CUDA ERROR. CUDA_ERROR_INVALID_VALUE

I was attempting to inner join 2 tables with 10mil+(3.6 G) rows and 500mil+ (18G) rows and am facing cuda memory errors.

I tried changing chunk_size to see if  smaller partitions  will help but could not get it work. Any pointers will be super helpful.

## Code to recreate the error

[code]
## Error Tr

[2019-03-10 04:06] mrocklin commented on #147
It looks like your data is very uniform with the same value repeated for
many rows on each side.  My guess is that merging two such tables will
result in a quadratic explosion of data.  For example if you had two
modestly sized chunks of 1e6 rows each where each row had the same value on
the join column then the resulting chunk would have 1e12 rows, which would
likely blow up memory all on its own

[2019-03-10 04:17] VibhuJawa commented on #147
Aah. This was a toy example for raising the error. In my real life use case , i have 2200 right rows for each left row. So its 2200x  input and i still face the error.

Thanks for the random dataset join example. I will post my results with a better simulation.

[2019-03-10 04:23] mrocklin commented on #147
The output of the cudf.merge operation will need to fit comfortably in GPU
memory (there may be a few there at once).  Is this likely the case for
your computation?  If not, then that would explain things.

On Sat, Mar 9, 2019 at 8:17 PM Vibhu Jawa <notifications@github.com> wrote:

[2019-03-10 04:40] VibhuJawa commented on #147
Sorry, Super new with rapids and cudf so i have a few clarifying follow ups .

1. Are you talking about a single gpu memory or the total memory across GPU's (because it wont fit in 1 GPU).
2. I don't understand what comfortably means. (1/2 of GPU, 3/4 of GPU ) , Any ballpark will be super helpful as i will decide infrastructure accordingly.

Thanks for being so responsive. 👍

[2019-03-10 04:50] mrocklin commented on #147
Dask is just calling a bunch of cudf functions.  cudf expects the inputs and outputs to fit in memory.

Dask compounds this expectation, because it may be managing may have many of these inputs and outputs floating around at any given time on a single GPU, so it's good to keep things relatively small.  Something like a tenth would probably be as much as I would recommend.  On the CPU at least we f

[2019-03-10 04:50] mrocklin commented on #147
The counter pressure is that if you make them too small then overhead gets you.  There is something like 1ms of overhead per chunk.

On the GPU there may also be concern about not saturating the full GPU.  You probably know more about that than I do though.

[2019-03-10 05:01] mrocklin commented on #146
Fine by me

[2019-03-10 19:16] randerzander opened #148 "[BUG] from_cudf drops rows when npartitions > 1"
[code]
Result:
[code]
Expected Result:
[code]

[2019-03-11 01:01] mrocklin commented on #148
Possible repeat of https://github.com/rapidsai/dask-cudf/issues/63

On Sun, Mar 10, 2019 at 12:16 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-03-11 16:54] quasiben commented on #119
@mrocklin applymap, I think should work but currently does not.  applymap is exposed in cudf on the series object and not the dataframe.  applymap, in dask, is exposed on the dataframe and not the series object

[2019-03-11 16:57] mrocklin commented on #119
Fine by me to add extra methods onto the dask-cudf classes to match cudf
classes, especially if they're relatively simple applications of
map_partitions

On Mon, Mar 11, 2019 at 9:54 AM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-03-12 01:49] beckernick opened #149 "[BUG] concat fails with string columns in dataframes from read_csv, but not from_csv"
### Description
As a user, I want to concatenate dask_cudf dataframes into a single dataframe. `dask_cudf.concat` fails with dask_cudf dataframes containing nvstrings columns if they are created from `dask_cudf.read_csv`, but not if they are created by way of cudf. Unordered comparisons are not implemented for string columns, but the issue does not come up when the dask_cudf dataframe is created f

[2019-03-12 19:22] mrocklin commented on #139
I've cleaned up the notebook a bit here: https://gist.github.com/mrocklin/ab10c61a17391e8dbc7577f83fc4d25d

[2019-03-12 19:23] mrocklin commented on #139
@randerzander how else can I support you on this?

[2019-03-12 19:24] mrocklin commented on #139
(requires dask master by the way)

[2019-03-12 22:54] VibhuJawa opened #150 "[BUG]: dask_cudf.from_cudf super slow"
# dask_cudf.from_cudf super slow

The function dask_cudf.from_cudf is super slow. The time_it output is attached.

I need that function because i do some operations on cudf frame that are not currently supported in dask_cudf .

[code]

## Dask Time Output
[code]

## Reading and writing from disk output
[code]

[2019-03-13 00:18] mrocklin commented on #150
Interesting.  Can I suggest the following to help diagnose the issue:

1.  Remove the `LocalCUDACluster` stuff.  I don't think it's necessary to reproduce your issue and it probably complicates things
2.  If you're using `ipython` or `jupyter` then try running the `dask_cudf.from_cudf` function with the `%prun` magic.  This will help you understand which parts of the computation are slow.  This wi

[2019-03-13 00:22] mrocklin commented on #150
Also, sorry to be slow on this.  I need to update my cudf installation, which probably won't happen until sometime tomorrow.

[2019-03-13 00:35] VibhuJawa commented on #150
## Prun Dump

Thanks for working on this . I removed the local cuda cluster stuff.

The %prun output is as follows:

[code]

[2019-03-13 15:39] beckernick commented on #146
Are we able to do groupby-aggregations on single columns with the `agg` API? Problem may be on my end, but I'm seeing:

[code]

But no clear place to supply the `meta` keyword a DataFrame.

Environment, with dask_cudf from the `41c95a89f7c68af0e7547db4f44a1ec84a43d5d4` commit on March 8.
[code]

[2019-03-13 15:43] mrocklin commented on #146
No, the only groupby aggregations that work are of the form

    -  On single columns: ``df.groupby('x').y.max()``

[2019-03-13 15:44] beckernick commented on #146
Got it, thanks! I think we may want to clarify this part of the groupby section:

[code]

My initial read on this was that we could use the agg API, which I was surprised by (hence the test just now).

[2019-03-13 15:45] randerzander commented on #150
I'm also seeing very slow performance of `from_cudf`.

I use npartitions=1, which is not ideal, but I wouldn't expect it to be this slow for such a small number of rows.

Test:
[code]
[code]

[2019-03-13 15:45] mrocklin commented on #146
Good idea

[2019-03-13 16:06] quasiben commented on #150
I can take a look at this after lunch today

[2019-03-13 16:13] mrocklin commented on #150
I'm looking at it now

[2019-03-13 16:18] mrocklin commented on #150
Here is the problem, cudf's `iloc` is slow:

[code]

I'll raise upstream and close this.

[2019-03-13 16:19] mrocklin commented on #150
See https://github.com/rapidsai/cudf/issues/1176

[2019-03-13 18:22] beckernick opened #152 "[FEA]"
### Description

As a user, when I call `read_csv` on a directory, I often want to keep track of which file in the directory my data came from. Consistent with https://github.com/dask/dask/pull/3908, I would want a keyword argument similar to `include_path_col`.

Currently, this fails as the argument is passed through with the other keyword arguments to `cudf.read_csv`.

### Example
Will add a pub

[2019-03-13 18:44] mrocklin commented on #152
Does it also fail if you use the `file://` protocol like
`dask_cudf.read_csv('file:///path/to/file')` ?

On Wed, Mar 13, 2019 at 11:22 AM Nick Becker <notifications@github.com>
wrote:

[2019-03-13 19:44] beckernick commented on #152
Yes, it still occurs:

[code]

[2019-03-14 00:54] #148 closed

[2019-03-14 05:41] AK-ayush commented on #142
With the single-threaded scheduler, using `gdf = gdf1.compute(scheduler='single-threaded')` , code is working fine but taking too much time since it is running sequentially.

My actual usecse is to create xgboost model for each row in csv. So currently, I create train and test gdf from each row after reading through `cudf.io.csv.read_csv_strings()` and then convert them to dask_dataframe through `

[2019-03-15 04:51] zronaghi opened #154 "dask_cudf.from_dask_dataframe hangs"
The snippet below hangs for nrows >= 5000000

[code]

[2019-03-15 04:59] kkraus14 commented on #154
@zronaghi Are you sure it isn't the numpy array generation / transpose / dataframe from numpy array creation causing the hang? That sounds super heavy for that size...

[2019-03-15 06:24] #49 closed

[2019-03-15 06:24] #72 closed

[2019-03-15 07:16] raydouglass opened #157 "[BUG] Test Errors"
There's numerous test failures in CI on `branch-0.6`.

You can see the results here: https://gpuci.gpuopenanalytics.com/view/all/job/gpuCIv2/job/dask-cudf/job/branches/job/dask-cudf-gpu-branch-0.6/2/

[2019-03-15 15:48] quasiben opened #158 "[BUG] Drop fails"
Drop is exposed in cudf but currently fails.  Below is a small example of the failure:

[code]

[2019-03-15 15:53] quasiben commented on #158
I think this is an upstream issue with cudf not accepting an axis argument

[2019-03-15 15:56] mrocklin commented on #158
https://github.com/rapidsai/cudf/issues/1074

On Fri, Mar 15, 2019 at 8:53 AM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-03-15 15:56] mrocklin commented on #158
;)

On Fri, Mar 15, 2019 at 8:56 AM Matthew Rocklin <mrocklin@gmail.com> wrote:

[2019-03-15 16:33] zronaghi commented on #154
@kkraus14 works with cudf:
[code]

[2019-03-15 16:42] kkraus14 commented on #154
@zronaghi what if you just remove the `dask_cudf.from_dask_dataframe(...)` calls? It's going to need to split and move those numpy arrays across processes which is expensive.

[2019-03-15 18:07] quasiben opened #161 "[BUG] unique fails"
[code]

## failure

[code]

[2019-03-15 23:16] zronaghi commented on #154
@kkraus14 right, just ran that and hangs too.

[2019-03-18 02:58] #157 closed

[2019-03-18 04:56] datametrician opened #167 "One hot-encoding"
Implement one hot-encoding in dask-cuDF

[2019-03-18 09:39] randerzander commented on #146
Closed by https://github.com/rapidsai/cudf/pull/1218

[2019-03-18 09:39] #146 closed

[2019-03-20 20:14] VibhuJawa opened #177 "[Bug] Sort_values failing on 500 mil rows"
## [Bug] Sort_values failing on 500 mil rows

Sort_values is failing on 500 mill rows.
This is causing errors downstream for set_index too.

## Repro Code
[code]

### Error Trace
[code]

## Nvidia - Smi dump
The code is being run on dgx-01. 7 Gpus.

[code]

[2019-03-20 20:45] mrocklin commented on #177
My first guess is that you're running out of memory and that we're just not
dumping things to disk.  You might consider setting the memory_limit
keyword to LocalCUDACluster.  Does this also fail on smaller datasets, or
does it pass?

On Wed, Mar 20, 2019 at 1:14 PM Vibhu Jawa <notifications@github.com> wrote:

[2019-03-20 21:22] randerzander commented on #150
I believe this was resolved. Please re-open if the issue resurfaces

[2019-03-20 21:22] #150 closed

[2019-03-20 22:00] mrocklin opened #178 "Make a plan for sort_values/set_index"
It would be nice to be able to use the `set_index` method to sort the dataframe by a particular column.

There are currently two implementations for this, one in dask.dataframe and one in dask-cudf which uses a batcher sorting net.  While most dask-cudf code has been removed in favor of the dask.dataframe implementations this sorting code has remained, mostly because I don't understand it fully, a

[2019-03-20 22:05] mrocklin opened #179 "Development process"
In this repository we've been using master and squashed commits somewhat uniformly over the past few months.  During the release process it looks like some automated processes have moved to branch-0.6 and branch-0.7 and merge commits.  What is our plan going forward?

cc @kkraus14 @mike-wendt @raydouglass @quasiben

[2019-03-20 23:56] VibhuJawa commented on #177
This works on smaller datasets. I will try memory_limit and let you know. Thanks. 👍

[2019-03-21 19:43] VibhuJawa commented on #177
I tried limiting memory, it works but makes it painfully slow.

### Some questions:
Am i right to understand that "memory_limit" limits cpu_memory usage and not gpu memory usage and we are limited by cpu memory.

### Follow up
If this is correct:
1.  Is there a way to limit Gpu Memory Usage ?
2. What are the parameters to keep in mind while deciding memory limit ?

## Time taken to sort  276,000,0

[2019-03-21 20:33] mrocklin commented on #177
Correct, Dask doesn't currently track device memory (though it should).

However, I suspect that some of the GPU data gets mistakenly counted as CPU data, which is why you might see some effect.

As for the slowdown, can you verify that you're seeing a lot of disk activity during this time?  On the task stream plot this is apparent as orange bars with names like `disk-*` if you hover over them.

I

[2019-03-21 21:10] VibhuJawa commented on #177
I have a lot of "tranfer-_compare" frame activity and a lot of white space.

Task Stream: https://imgur.com/a/T44oPsi
Link to profile for sorting: https://jsfiddle.net/2p9t41wz/

The current work load i have will be much much greater than gpu memory (3 trillion rows-ish)  so any help/speed up here will go a long way.

[2019-03-22 01:15] mrocklin commented on #177
Yeah, so that is a bunch of inter-GPU transfer time.  We'll probably need
to wait for the UCX work to land for this to be fast.

Currently we move data between all of the GPUs in an inefficient way.
There is ongoing work to integrate UCX, a high performance communications
library, into Dask.  That should provide order-of magnitude speedups on
intra-node GPU communication.

On Thu, Mar 21, 2019 at

[2019-03-23 01:58] sevenfrost opened #183 "GDFError: CUDA ERROR. cudaSuccess: no error when loading a big file"
`df = dask_cudf.read_csv('/data/file.csv', delimiter = '|')`

---------------------------------------------------------------------------
GDFError                                  Traceback (most recent call last)
<ipython-input-10-b01af2a5ce29> in <module>
----> 1 gdf = dask_cudf.read_csv('/data/uxs_2017_joinall.csv', delimiter = '|')

/conda/envs/rapids/lib/python3.6/site-packages/dask_cudf-0+un

[2019-03-23 02:16] quasiben commented on #183
I think this issue has already been resolved in master and will be in the upcoming 0.6 release.  You are using:

correct?

[2019-03-25 18:29] paulhendricks commented on #167
See here: https://github.com/rapidsai/dask-cudf/issues/130

[2019-03-25 19:36] miguelangel opened #184 "Rename CHANGELOG.rst to CHANGELOG.md"
Hi,

It looks like the CHANGELOG file extension is not consistent with the other RAPIDS packages.

For dask-cudf, we have CHANGELOG.**rst**. For cuDF, cuML, and cuGraph, we have CHANGELOG.**md**.

Hope it helps.

Regards,
Miguel

[2019-03-26 14:51] mrocklin commented on #184
Are changelogs rendered in documentation?  If so, are other RAPIDS projects
using sphinx-markdown?

On Mon, Mar 25, 2019 at 12:36 PM Miguel Martínez <notifications@github.com>
wrote:

[2019-03-26 15:08] miguelangel commented on #184
Hi @mrocklin,

I could not say. I just noticed that the file extension is different to others RAPIDS projects:

https://github.com/rapidsai/cudf/blob/branch-0.7/CHANGELOG.md
https://github.com/rapidsai/cuml/blob/branch-0.7/CHANGELOG.md
https://github.com/rapidsai/cugraph/blob/branch-0.7/CHANGELOG.md
https://github.com/rapidsai/rmm/blob/branch-0.7/CHANGELOG.md

Regards,
Miguel

[2019-03-26 18:45] mrocklin commented on #154
Well, this seems ok without the `LocalCUDACluster`

[code]

It also seems to work with

[code]

[2019-03-26 18:47] mrocklin commented on #154
If I may though, this workload seems quite odd in how much conversion is going on, and in sending things around.  Generally it's a bad idea to create a large dataset locally in memory and then move it to a cluster.  You're shoving a lot of data through the cluster. Instead it's a much nicer idea either to

-  generate the data remotely in the first place, perhaps using something like `da.random.ra

[2019-03-26 18:50] mrocklin commented on #154
Actually, is it possible that it's hanging on the xgboost bits and not `from_dask_dataframe`?

Also, I have no idea how to get NVIDIA's particular dask-xgboost package up, so if that's required to reproduce the failure here then that'll probably not happen as quickly from me.

[2019-03-26 20:54] mrocklin commented on #154
Is there an easy way to install the particular version of dask-xgboost that
you're using into my local environment?  You're probably using a special
fork of xgboost/dask-xgboost that RAPIDS people tend to use.  Is that
correct?

On Tue, Mar 26, 2019 at 1:48 PM Zahra Ronaghi <notifications@github.com>
wrote:

[2019-03-26 21:26] zronaghi commented on #154
Yes I'm using dask-cudf branch of dask-xgboost: https://github.com/rapidsai/dask-xgboost/tree/dask-cudf

[2019-03-26 21:58] mrocklin commented on #154
Does that also require a different branch of xgboost itself?

On Tue, Mar 26, 2019 at 2:26 PM Zahra Ronaghi <notifications@github.com>
wrote:

[2019-03-26 21:58] mrocklin commented on #154
Sorry, I know that this is a super-common workflow within the company, I
just have never actually dealt with it.

On Tue, Mar 26, 2019 at 2:57 PM Matthew Rocklin <mrocklin@gmail.com> wrote:

[2019-03-26 22:42] zronaghi commented on #154
The branch is https://github.com/rapidsai/xgboost/tree/cudf-interop, thank you for looking into it :)

[2019-03-26 22:45] mrocklin commented on #154
FYI, there is enough time in getting the special branches of XGBoost to work that I probably won't personally prioritize this at the moment.  It's on my TODO list, but not being able to knock it out in under an hour puts it way lower than is ideal.

[2019-03-26 23:00] zronaghi commented on #154
Sure makes sense, adding link to the build scripts: https://github.com/rapidsai/build/tree/branch-0.6/utils, also happy to help if there's anything I can test/debug with dask-xgboost

[2019-03-26 23:03] mrocklin commented on #154
Sure.  Are there logs for anything that's failing?  What are the workers doing when it hangs?  Any information from the dashboard?  Are the GPUs running out of memory?  Are they doing work, or just the scheduler?

Or more generally, I recommend running the computation while looking at the dashboard and seeing if anything pops out at you.

[2019-03-27 13:24] #73 closed

[2019-03-27 19:13] VibhuJawa opened #185 "Dask Cudf Join Fails when joining data with multiple partions"
# Dask Cudf join is Failing on Multiple Partitions

Dask cudf merge is failing on large data with multiple partitions.

It works on small data frames still trying to create a smaller reproduction code

##### Issue Gist view:
Gist: https://gist.github.com/VibhuJawa/7947f1d87016c144cb4bc6f788f6ab21

[2019-03-28 02:34] mrocklin commented on #178
NVIDIA folks have asked if there is some way to integrate an MPI or NCCL enabled multi-gpu sort into Dask for improved efficiency.  My initial reaction to this is that it's likely to be difficult to integrate smoothly in a way that respects other Dask management like resilience, spilling to disk, load balancing, and so on.  Lets expand on this.

First, if we have a multi-node sorting algorithm, we

[2019-03-28 03:12] datametrician commented on #178
I agree with this approach. Thrust has a good single GPU sorting, and I think UCX should help tremendously.  Any thoughts on book keeping, or was that more of a placeholder for if we need it?

[2019-03-28 06:22] randerzander opened #186 "Can't disable "UserWarning: Warning gzip compression does not support breaking apart files" warning"
When reading gzipped files with dask_cudf.read_csv, setting chunksize=None as directed still results in the warning:
[code]

[2019-03-28 08:20] randerzander opened #187 "Incorrect string to string join results when reading multiple CSV files in either df"
Repro:
[code]
Result (an empty dataframe):
[code]
Expected Result:
[code]

Additional Notes:
This does _not_ happen when reading a single CSV at a time:
[code]

It does _not_ happen when the join column is numeric.

Using cuDF directly computes the join correctly:
[code]
[code]

[2019-03-28 14:56] mrocklin commented on #178
There are two forms of book keeping that are relevant here:

1.  The slicing and concatenation of cudf dataframes.  This is largely a test of memory management.
2.  The administrative tracking of tasks within the scheduler.  This becomes more of an issue as we scale out to more nodes.

[2019-03-28 14:58] mrocklin commented on #186
Thanks for the bug report.  cc @quasiben

Short term you can always prepend your filename with `file://` to defer to
Dask DataFrame's implementation, which probably has this fixed, but routes
data through host memory

On Wed, Mar 27, 2019 at 11:22 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-03-28 17:33] VibhuJawa commented on #187
Please note that the merge fails when we merge dataframes with multiple partitions on a string.

It works fine on a single partition and also if we explicitly call dasks merge.

# Code to reproduce bug:
[code]
### Output
[code]

[2019-03-28 22:55] VibhuJawa opened #188 "Performance Difference bw Dask_cudf internal merge and dasks merge"
# Performance Difference bw Dask_cudf internal merge and dasks merge

There seems to be a bug performance differnce b/w dask_cudf and dask internal merge.
This is especially worse when using distributed dask_cudf with gpus.

## Code
[code]
## Output
[code]

### Possible Reason

The visualization of task graphs for both dask.merge and dask_cudf.merge reveal that dask_cudf is doing a lot of local_sh

[2019-03-29 21:26] mrocklin commented on #184
It's common to add changelogs to documentation, like here: https://docs.dask.org/en/latest/changelog.html

I think that most of our docs are in rst format, so if we want to put changelogs into docs, then those other files may have to move to rst.  It might be worth raising the issue more broadly.

[2019-03-29 21:27] mrocklin commented on #183
Any update @sevenfrost ?

[2019-03-29 21:35] miguelangel opened #190 "dask_cudf version is displayed as 0.0.0.dev0"
Hi,

I have just installed dask_cudf using conda on RAPIDS container 0.6.

When I run conda list, the version of the dask_cudf is displayed as follows:

I think it should be 0.6.0.

Hope it helps.

[2019-03-29 22:00] mrocklin commented on #190
@raydouglass

[2019-03-29 22:10] mrocklin opened #193 "What does the DataFrame.join method do?"
I'm confused about the `DataFrame.join` method.  It appears to be different from the join implementation in the `join_impl` module but looking briefly at the code I'm not sure what it's supposed to actually do.  Unfortunately it has a lot of non-trivial logic and not a ton of documentation.

cc @sklam , do you recall what the intent was behind this method, and how it related to the code in join_im

[2019-03-30 02:50] quasiben commented on #186
Sorry, I dropped this.  Looks like @mrocklin's PR resolves the issue nicely

[2019-03-30 05:24] randerzander opened #195 "dask-cudf's str.slice function throws error"
Repro:
[code]
Result:
[code]

[2019-03-30 13:29] miguelangel commented on #184
Hi @mrocklin,

It makes sense to me.

Therefore, @kkraus14, @dantegd, @BradReesWork what do you think about changing cuDF, cuML, and cuGraph CHANGELOG file extension from .md to .rst as discussed above?

[2019-04-01 14:34] sklam commented on #193
The `DataFrame.join` is my first attempt.  It implements a sort-based join.  It joins by the index and it uses a costly shuffle to align the index.

The `join_imply.py` is the better version.  It implements the hash-based join.  It supports multiple `on` columns.

[2019-04-01 15:22] mrocklin commented on #193
Is there any reason to keep the old join around, or can we remove it safely and redirect to `join_impl.py`?

[2019-04-01 15:32] #186 closed

[2019-04-01 15:45] mrocklin commented on #195
The slice operation returns an `nvstrings` object.  Dask dataframe doesn't know what this object is, or how to make a parallel version of it.

The pandas equivalent operation returns a `pandas.Series` object.  I wonder if that would be an appropriate return value here instead for cudf?

[code]

[2019-04-01 15:46] mrocklin commented on #195
[code]

@kkraus14

[2019-04-01 15:54] mrocklin commented on #178
@sklam can you expand on the motivation behind your use of batcher sort net?  Why was this decided on rather than the approach take in the mainline dask dataframe codebase?

[2019-04-01 15:57] mrocklin commented on #187
Right, so dask dataframe's implementation is fine here, but would only work when you have a single partition.

It's curious that this works on non-string types but doesn't work on string types.  (any thoughts on why this might be @kkraus14 ?)

@randerzander I think that the expected result should look more like the following for the `a*.csv` / `b*.csv` case.  Do you agree?

[code]

[2019-04-01 16:30] mrocklin commented on #127
I agree that this would be super useful.  We could add implementations for every unsupported function onto dask-cudf?  Maybe there is some way of doing this programmatically.  I don't know of a good solution off-hand, but if someone has an idea and wants to implement it I say go for it.

In the mean time, here are some things that are and are not supported: https://rapidsai.github.io/projects/cudf

[2019-04-01 16:45] mrocklin commented on #185
cc @sklam in case you've run into this before

[2019-04-01 18:01] sklam commented on #185
It would be good to know what dtypes are involved.  The usual reason for failure is mishandling null-values.

[2019-04-01 18:09] VibhuJawa commented on #185
The join is being done on strings, I think this issue is similar to "Incorrect string to string join results when reading multiple CSV files in either df".  #187  .

[2019-04-01 18:11] mrocklin commented on #185
Yes, I think that that issue probably has the information that @sklam is looking for.  It's often quite time consuming to run a full-workflow notebook to find an error, but looking at an example like what is in #187, that one can simply copy-paste into a terminal window, is much easier to understand what is going on without having to fully understand an application.

[2019-04-01 18:16] VibhuJawa commented on #185
Understood, i will try harder to make smaller reproduction code in the future, i was trying but could not pin it down to the string join problem earlier.

[2019-04-01 18:20] mrocklin commented on #185
Understood.  In this particular problem it wasn't a straightforward issue, so we requested a minimal example.  I think that this pattern that we did here makes sense going forwards:

-  Alice: Here is a general problem I'm having, any quick thoughts?
-  Bob: Nope, not in this case.  I recommend making a minimal example if you have the time
-  Alice: OK, here you go
-  Bob: OK, now I see what's goi

[2019-04-01 18:31] VibhuJawa commented on #185
Yup. The above pattern makes sense . Will try to follow it 👍

[2019-04-01 18:34] sklam commented on #178
@mrocklin, I was trying to avoid the following of the mainline sort/shuffle:
- Storing the data onto the disk
- Output is imbalanced.  All equal keys in the same partition.  If the key distribution is heavily skewed, GPU memory may run out.

I chose the sorting network because:

- It's very easy to implement.
- The sorting network has a fixed structure given the number of partitions.
- There are m

[2019-04-01 19:28] VibhuJawa commented on #177
Some Benchmarking Results

I was benchmarking dask cudf sort to just see how sorting time grows if we keep the number of rows(makes comparisons constant ) while we make our data frames more wide .

The sorting time seems to be growing linearly (with slope app. 1) with the number of columns. I guess this shows that the bottle neck may indeed just be data-transfer.

I think this may be useful for so

[2019-04-01 20:53] mrocklin commented on #178
OK, so these concerns seem similar to the concerns we had while designing the various shuffle algorithms for dask dataframe/bag.  I'm not seeing anything here that is highly specific to GPU computation.  (please correct me if I'm wrong).

My inclination then is to try to unify both CPU and GPU around a single implemenatation, probably starting with the one in dask.dataframe, but then maybe we woul

[2019-04-02 16:21] randerzander commented on #187
Yes, you're right. I copied/pasted the wrong expected output. That's what I get for filing issues late at night.

Fixed in the description as well. Thanks!

[2019-04-02 18:50] beckernick opened #197 "test_unary_ops and test_set_index fail against cuDF 0.7"
Can anyone else reproduce that test_unary_ops and test_set_index fail when dask-cudf 0.7 is built with cuDF 0.7 on CUDA 9.2 with Python 3.7?

When testing, I get the following pytest results:

[code]

[2019-04-02 19:37] mrocklin commented on #197
You'll need to install a more complete Dask installation.  Either...

[code]

See https://docs.dask.org/en/latest/install.html

[2019-04-02 20:07] beckernick commented on #197
Thank @mrocklin . With the full dask installation all tests pass. Closing.

[2019-04-02 20:07] #197 closed

[2019-04-02 22:39] randerzander opened #198 "dask-cudf doesn't work with dask=>1.1.4"
I installed cudf and dask-cudf in a fresh conda environment:
[code]

This seems to pull the latest dask package (1.1.5 currently), which throws an error when running `merge`.

The issue goes away when I downgrade dask to 1.1.4.

Repro (with dask 1.1.5):
[code]
[code]

[2019-04-02 22:50] randerzander commented on #198
[code]

[code]

Should we consider pinning dask to version 1.1.4 for the conda & pip dask-cudf packages?

[2019-04-02 22:54] kkraus14 commented on #198
@randerzander this is something that was discussed in https://github.com/rapidsai/cudf/issues/1253. The fix is likely very easy on the cuDF side once this happens, but in the meantime it's your call as to whether we should hotfix release dask-cudf or not.

[2019-04-02 22:58] kkraus14 commented on #195
👍 yea this shouldn't return an `nvstrings` object, thanks!

[2019-04-02 22:58] kkraus14 commented on #195
@randerzander could you open an issue against cudf?

[2019-04-02 22:58] randerzander commented on #198
If anyone conda installs dask-cudf right now, they'll get something that looks broken. To me that's worth re-releasing the dask-cudf package with a dependency on dask 1.1.4. @raydouglass thoughts?

I've yet to test with pip, but I assume it has the same problem.

[2019-04-03 00:01] VibhuJawa opened #199 "Query function fails when being called on the result of another query function on multiple Partitions"
# Query function fails when being called on the result of another query function on dataframe with multiple Partitions

When trying to call query function on a previous query function it throws  a cuda error when working with data frame with multiple partitions.  This works fine if i we have a single partition.

## Reproduction Code:

[code]

If i chain both the query expressions into single query

[2019-04-03 00:43] beckernick opened #200 "[FEA] Support append method for concatenation"
### Description
Currently, `append` isn't supported for cudf objects.

Calling append without interleave_partitions causes the standard interleave partitions ValueError, but if you pass the keyword argument to append, you get a TypeError due to append not expecting this keyword.

### Example
[code]

[code]

### Expected Behavior
I expect to be able to either be able to use append on dask_cudf obje

[2019-04-03 02:26] mrocklin commented on #198
Note that in master we now do this

https://github.com/rapidsai/dask-cudf/blob/0a62a44061aa07c72c45597633939187503ce8f5/dask_cudf/__init__.py#L27-L29

Which should solve the problem without the dependency pinning.

[2019-04-03 18:19] MikeChenfu opened #202 "Wrong data order when using dask_cudf.from_cudf"
The function dask_cudf.from_cudf cannot keep the order of original cudf data.

I do some operations on cudf frame that are not currently supported in dask_cudf, and then using dask_cudf.from_cudf or dask.dataframe.from_pandas function to get dask_cudf frame.

Here is an unit test.

[code]
When I run above the code, I got the results.
[code]

The results from cudf is what I want. It seems that from

[2019-04-03 19:23] raydouglass commented on #198
@randerzander I think a hotfix makes sense.

I'm assuming pip installs are affected by the same issue?

[2019-04-03 19:24] mrocklin commented on #198
Yes

On Wed, Apr 3, 2019 at 2:23 PM Ray Douglass <notifications@github.com>
wrote:

[2019-04-04 05:23] FullStackHan opened #203 "In the entire pipeline of RAPIDS, how does RAPIDS keep the data in GPU memory?"
In the entire pipeline of RAPIDS, how does RAPIDS keep the data in GPU memory? For example, both the A process and the B process perform cuDF and cuML processing, and the output of the A process is handed to the B process for processing. As shown below, apche Arrow is in the entire pipeline phase of RAPIDS, so the data needs to be stored in the GUP memory all the time. But after the end of the A p

[2019-04-08 16:40] mrocklin commented on #178
I recently took a look at Dask dataframe's task-based shuffle and improved docstrings here in order to help others dive in: https://github.com/dask/dask/pull/4674/files

I think that we need the following:

-  Something like the `pandas.util.hash_pandas_object` function, which hashes a pandas object row-by-row returning a Series of integer values.  (@kkraus14 do we have this?)

-  A `Series.search

[2019-04-08 16:44] mrocklin commented on #178
Also, just to direct people, I think that the core function that we'll have to make work is `rearrange_by_column_tasks`.  I think that all of set_index/merge/sort_values can be made to rely on functionality there.

[2019-04-08 20:29] mike-wendt commented on #198
@randerzander who is implementing the hotfix?

[2019-04-08 20:38] mrocklin commented on #198
This was resolved on the dask-cudf side here: https://github.com/rapidsai/dask-cudf/pull/194/files

And on the cudf side here: https://github.com/rapidsai/cudf/pull/1363

[2019-04-09 01:40] raydouglass commented on #198
@randerzander @mrocklin Since this is supposed to be a hotfix, it needs to follow that [procedure](https://docs.rapids.ai/releases/hotfix/).

@mrocklin can you clarify what the fix is? The PR in dask-cudf looks like it may some unrelated changes, but I'm not familiar enough with the code to be sure.

I think this commit https://github.com/rapidsai/dask-cudf/pull/194/commits/c0a1476972c129fee99565e

[2019-04-09 01:44] mrocklin commented on #198
The relevant lines for the fix are here:

https://github.com/rapidsai/dask-cudf/blob/fcff65af0ac7eb4b3a441873ae4a1e059c7da9c7/dask_cudf/__init__.py#L27-L29

[2019-04-09 01:45] mrocklin commented on #198
In this situation I would probably just push out a bugfix release of dask-cudf.  It's a pure-python package.  My hope would be that this wouldn't be too expensive, I may be thinking naively here though.

[2019-04-09 02:05] mrocklin commented on #198
You could alternatively hotfix cudf:
https://github.com/rapidsai/cudf/pull/1363

On Mon, Apr 8, 2019 at 8:40 PM Ray Douglass <notifications@github.com>
wrote:

[2019-04-09 21:18] mrocklin commented on #202
You might want to try the sort= keyword argument.  Would that help?

[code]

[2019-04-09 21:29] beckernick commented on #119
@mrocklin , @quasiben is the decision then to add additional methods in dask-cudf?

[2019-04-09 21:32] mrocklin commented on #119
Generally, yes.

[2019-04-09 21:36] mrocklin commented on #203
This depends on the library you're using at the time.  For questions about a specific library I recommend referring to their documentation.

You may want to look at Dask's distributed scheduler documentation, which has information about communication.  https://distributed.dask.org/en/latest/ .  You may also want to look at OpenUCX.

[2019-04-09 21:36] #203 closed

[2019-04-09 21:39] mrocklin commented on #200
Yup, that would be good to fix.  My guess is that you were to raise this in the generic dask/dask issue tracker that you might get folks with more bandwidth to help out.  I think that in this particular case nothing here depends on cudf.

[2019-04-09 21:44] mrocklin commented on #199
I have no idea.  I suspect that you need someone like @kkraus14 who is familiar with cudf to help here.

Also, and unrelatedly

    filtered_df_1 = ddf.query('id_1 == 0' and 'id_2 ==0')

This possibly isn't what you want.  You probably want the `and` within the string, otherwise this evaluates to

[code]

[2019-04-09 22:16] VibhuJawa commented on #199
Yup my bad, the  '&' should have been inside the string.

Also, for the 0.7 version, even single query seems to be failing (This  works for 0.6.1 ).

[code]
Output and Error Trace
[code]

[2019-04-09 22:19] beckernick commented on #199
@VibhuJawa this failure is due to a change in cudf 0.7 to expect a local_dict keyword argument and expand the call environment. This should break dask-cudf's query, regardless of whether youre using 0.6 or 0.7 dask-cudf. This will be resolved shortly with #196

[2019-04-09 22:24] VibhuJawa commented on #199
@beckernick  Got it. Thanks.

[2019-04-09 23:24] VibhuJawa opened #207 "# Boolean masking with list on dask_cudf"
# Boolean masking with list on dask_cudf

### Description
As a user i would like to use bool masks (list) on dask_cudf and I don't know if masking like this is supported or not.

It seems to be working with single partitions.

### String Column Issue
The masking currently seems to always fail for strings columns on multiple partitions .

### Int Column seems
The masking breaks on the following lin

[2019-04-09 23:28] mrocklin commented on #207
Historically this hasn't been done because dask dataframe tends to get used for larger datasets, where having a list of that size isn't feasible.  My recommendation in this case would be to drop down to cudf once you get to a dataset that fits comfortably in memory.

[2019-04-10 00:56] VibhuJawa commented on #207
Thanks for the prompt reply.    Yup, That makes sense in majority of cases.  Though currently i am dealing with a text dataset with just 1 bill rows but each row here is a long string so a lot of memory is required per row .

I ended up using the index divisions to slice my filter_list and then used the bool mask on my cudf frame.

[2019-04-10 00:56] #207 closed

[2019-04-10 18:18] mt-jones commented on #178
@mrocklin @datametrician I have a vested interest in seeing this work succeed, and will begin by implementing the solution path you've outlined above. If we _need_ to get into the specifics of MPI/NCCL, we can cross that bridge later. I think a general solution which puts Dask first is going to help the ecosystem the most.

[2019-04-10 18:23] mrocklin commented on #178
A minimal test would look something like the following:

[code]

[2019-04-10 18:27] mrocklin commented on #178
I just tried this and ran into an minor problem of cudf.DataFrame.drop not supporting the axis= keyword.  As a suggestion, these errors are easier to identify if you remove some of Dask's error reporting with the following diff

[code]

[2019-04-10 18:27] mrocklin commented on #178
https://github.com/rapidsai/cudf/issues/1074

[2019-04-10 18:28] mrocklin commented on #178
I imagine that, like with the groupby aggregations work, this will end up triggering many small PRs in cudf.

[2019-04-10 18:33] mrocklin commented on #178
Potential fix here: https://github.com/rapidsai/cudf/pull/1396

[2019-04-10 18:48] mrocklin commented on #178
Next thing I run into, searchsorted

[code]

[2019-04-10 20:28] beckernick commented on #199
@VibhuJawa just to clarify, that PR will not solve the original problem from this issue. Only the local_dict related problem.

[2019-04-10 21:09] MikeChenfu commented on #202
Thanks @mrocklin. It works.

[2019-04-10 21:10] #202 closed

[2019-04-10 21:35] mrocklin commented on #202
Glad to hear it!  Sorry for the long delay in response.

On Wed, Apr 10, 2019 at 4:10 PM Cg Lai <notifications@github.com> wrote:

[2019-04-11 01:45] #128 closed

[2019-04-11 15:34] beckernick commented on #200
Will create a pure generic dask example and raise this there. Thanks.

[2019-04-11 15:55] beckernick commented on #200
Raised on dask/dask: https://github.com/dask/dask/issues/4693 for those interested in tracking.

[2019-04-11 16:51] beckernick opened #208 "[FEA] Support transpose on dataframes."
### Description
As a user, I'd like to be able to transpose my dask_cudf dataframes. I can currently do this in cudf, but not in dask_cudf.

### Desired Behavior
The equivalent of the following with dask_cudf dataframes:

[code]

### Additional Context
This should probably be raised in generic dask, as it's not implemented for standard dask dataframes either (though it is implemented for dask arra

[2019-04-11 17:43] beckernick opened #209 "[BUG] Support melt on dataframes"
### Description
As a user, I'd like to be able to `melt` my dask_cudf dataframes. I can currently do this in cudf dataframes and standard dask dataframes, but not with dask_cudf dataframes.

### Desired Behavior
The equivalent of the following with dask_cudf dataframes:

cuDF:
[code]
Standard Dask:
[code]

### Additional Context
cuDF's `melt` [implementation](https://github.com/rapidsai/cudf/blob/

[2019-04-11 18:14] mrocklin commented on #209
If we had those methods on cudf, do you think that things would work?  If
so, any interest in getting your hands dirty with cudf?  It sounds like
those changes might be fairly straightforward to implement.

On Thu, Apr 11, 2019 at 12:43 PM Nick Becker <notifications@github.com>
wrote:

[2019-04-11 18:17] kkraus14 commented on #209
+1 to this. We should strive to match Pandas compatibility in cuDF instead of adding more custom code to dask-cudf where possible.

@beckernick if you raise an issue with the missing functionality for cuDF I'll be happy to help work through it with you.

[2019-04-11 19:03] beckernick commented on #209
Happy to @kkraus14. Not trying to pass the buck despite filing a lot of issues today 😄

@mrocklin , I tested including melt as a dataframe level method for cudf and wrote a simple .pop() method as well. I still ran into issues with the pass-through due to dask expecting a `.values` accessor for the underlying data. If we create a .values property to return the underlying data buffer, perhaps? WE c

[2019-04-11 19:12] mrocklin commented on #209
Is this the dask dataframe code that we're running into?

[code]

If so you might consider switching out the `pd.melt` function with something more generic.  One way to do this is that if `pd.melt(df, ...)` is the same as `df.melt(...)` then we might consider swapping out `pd.melt` in the dask code above with a function that calls a method, something like
'
'    lambda df, **kwargs: df.melt(**kwar

[2019-04-11 19:15] beckernick commented on #209
Thanks Matt. Great to learn that common practice in the dask code. Will give this a closer look.

[2019-04-11 19:29] mrocklin commented on #209
If true, this would probably remove the need for pop and such in cudf
(though the method would still be necessary).  We were calling the
pandas.melt function on a cudf dataframe, which I wouldn't expect to work.

On Thu, Apr 11, 2019 at 2:15 PM Nick Becker <notifications@github.com>
wrote:

[2019-04-15 15:01] beckernick commented on #209
As an update, using the `M` methodcaller object and updating the API for cudf melt for pandas consistency doesn't quite work. It appears that a None is introduced somewhere and passed to the `make_meta` which ultimately causes a cudf error. Investigating more.

[2019-04-15 15:36] tobimichigan opened #210 "Deploying dask-cudf on Python env: Testing rapidsai with dask-cudf"
On Dask GPU Dataframes

A partitioned gpu-backed dataframe, using Dask.
Setup from source

Setup from source repo:

    Install dependencies into a new conda environment

    conda create -n dask-cudf \
       -c rapidsai -c numba -c conda-forge -c defaults \
       cudf dask cudatoolkit

**In your read-me, you were not specific on which options to use, what you specified above looks like a list o

[2019-04-15 15:43] quasiben commented on #210
Thanks for the interest @tobimichigan .  It looks like you are trying to install on a Windows machine.  Unfortunately, we only support Linux at the moment (Ubuntu/Centos).  I would recommend taking a look at the rapids home page for information on installing with conda and/or docker:
https://rapids.ai/start.html

[2019-04-15 15:51] tobimichigan commented on #210
Oh, I see, everyone seems to be avoiding Microsoft in this every growing Machine Learning. Well guess I would just have to save up and buy a new system for Linux purposes...and yea, "The RAPIDS data science framework includes a collection of libraries for executing end-to-end data science pipelines completely in the GPU." seems to nail it too. I have plans in the making to procure a GPU based syst

[2019-04-15 16:26] quasiben commented on #210
Yes, unfortunately for much of the GPU datascience ecosystem only Linux is supported.  Still, I would encourage you to look at [Scikit Learn](https://scikit-learn.org/stable/) and [Dask](https://dask.org/) for scalable machine learning

[2019-04-15 16:26] #210 closed

[2019-04-18 17:35] randerzander opened #211 "[FEA] Support host-side decompression"
User reports indicate it being common to have high compression ratios on input files, such that after decompressing, raw data-sizes is in the 10+ GB range.

dask-cudf follows core Dask in not supporting decompressing files prior to loading into a DataFrame. Perhaps Dask doesn't need decompression prior to load because host memory is usually sufficient to handle large decompressed files?

In any ca

[2019-04-18 17:45] mrocklin commented on #211
What kinds of files?  What kinds of compression?

[2019-04-18 18:06] mrocklin commented on #211
Or, to be more clear, most common file compression formats (gzip, bz2) don't support random access, so in common case this isn't a choice of ours, it's just the way things are.

[2019-04-18 18:41] randerzander commented on #211
CSV and gzip, specifically.

I left these off the initial description because I partially expect that to be the case for Parquet and ORC files too. Will confirm here if I hear of/find examples of that happening.

[2019-04-18 18:46] mrocklin commented on #211
I'm not sure what we can do here in that case.  GZip doesn't provide random access, so we can't make a bunch of tasks that say "go read this section of the file".

For Parquet and Orc I don't think that this is likely to be an issue.  Chunks there tend to be more reasonably sized.

[2019-04-18 18:47] mrocklin commented on #211
Suggestions would be welcome if you have thoughts on how to accomplish what you want.  I've never found a great solution though, other than not storing analysis data as giant gzip files.

[2019-04-18 18:52] randerzander commented on #211
Sorry I wasn't clearer. I'm suggesting something like a param that if True, lets Dask perform host-side decompression first, then workers can be assigned byte ranges to read from the decompressed file.

[2019-04-18 18:57] mrocklin commented on #211
So we would call something like `$ gunzip usersfile.csv' first, and then run?  If so, I'm going to raise a few complications:

-  Where would we save this file?  Do we have write permissions?
-  Would we then delete the file afterwards?  How can we make sure that this happens?
-  What happens if the user points us to many csv files
-  What happens if those files are on cloud storage / HDFS?

I ask

[2019-04-19 18:29] beckernick commented on #209
With https://github.com/rapidsai/cudf/pull/1413 merged, when https://github.com/dask/dask/pull/4719 and https://github.com/rapidsai/cudf/pull/1463 are merged we will be all set with this functionality.

[2019-04-22 17:33] #198 closed

[2019-04-22 18:00] mrocklin commented on #211
@randerzander is there anything more to do here?  Sorry not to have a solution for you on this problem.

[2019-04-22 18:15] mrocklin commented on #208
Dask dataframe only partitions along rows.  We won't be able to do this operation effiiciently nor will we be able to store the data efficiently.

If your data fits in memory then I recommend using just cudf.

If you want to partition along both rows and columns then I recommend using a different project, like Xarray, (which is still Dask accelerated).

[2019-04-22 19:45] mrocklin commented on #195
Closing for now.  Please let us know if there is something we can do on the Dask-cudf side.

[2019-04-23 14:33] mrocklin commented on #208
OK to close?

[2019-04-24 18:33] beckernick opened #212 "[FEA] Support cumulative aggregation operations"
Currently, dask-cudf cannot support cumulative aggregation operations on dataframes of more than one partition. This is caused by upstream dask's usage of groupby.last() and hard-coding to pandas. Creating this issue for tracking purposes.

[code]

[2019-04-24 18:33] beckernick commented on #212
The dask issue to keep an eye on is: dask/dask/#4732

[2019-04-24 21:23] ayushdg commented on #108
@mrocklin Wanted to know if dask-cudf could add read_parquet support leveraging the fact that cudf has a GPU accelerated read_parquet now.

[2019-04-24 21:50] mrocklin commented on #108
This is in progress here: https://github.com/dask/dask/pull/4336

There is some interesting balancing going on with the other Parquet reader libraries out there.

[2019-04-24 22:13] mrocklin commented on #108
To be clear though, that's going to take a while (weeks).  We're reengineering a couple libraries to make this easier.

Parquet is much nicer to work with as a user, but the intricacies around handling it well, particularly for large datasets, are significantly more complicated than a flat file format like CSV.

[2019-04-24 22:16] ayushdg commented on #108
Thanks for the update! @mrocklin

[2019-04-25 15:02] beckernick commented on #212
Work in progress PR for tracking: dask/dask#4736

[2019-04-30 14:37] randerzander opened #214 "[BUG] dask-cudf in rapidsai-nightly conda channel depends on cudf 0.6"
[code]

Expected Behavior:
dask-cudf >=0.7 is installed (depending on whether a 0.8 branch nightly has been released yet)

[2019-04-30 14:39] mrocklin commented on #214
cc @rlratzel @jakirkham

[2019-04-30 19:29] randerzander commented on #108
@mrocklin when [cudf.read_orc](https://github.com/rapidsai/cudf/pull/1466) lands, would it also be blocked by dask/dask#4336?

[2019-04-30 19:33] mrocklin commented on #108
Not by that PR in particular, which is difficult because we have to get
several parties to agree ahead of time.  There are fewer ORC readers out
there and less inertia on Dask's ORC support (which is thin) so there are
fewer considerations to handle.

That being said, supporting ORC well will still be more complex than just
something like CSV.  It looks like the current dask dataframe ORC reader i

[2019-04-30 20:43] randerzander opened #217 "[FEA] dask-cudf should support multi-file read_orc"
Breaking out the feature request for read_orc from the [original issue](https://github.com/rapidsai/dask-cudf/issues/108)

This feature request should be doable once [cudf.read_orc](https://github.com/rapidsai/cudf/pull/1466) lands

[2019-04-30 20:54] mrocklin commented on #217
cc @quasiben this may interest you

On Tue, Apr 30, 2019 at 3:43 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-05-01 16:26] quasiben commented on #217
yup, sounds good

[2019-05-01 18:56] quasiben commented on #217
https://github.com/rapidsai/cudf/pull/1466 is merged and I am now working on this

[2019-05-01 19:03] beckernick commented on #212
Support for cumulative aggregations in dask-cudf is currently blocked by the following remaining open issues:

- https://github.com/rapidsai/cudf/issues/1513
- https://github.com/rapidsai/cudf/issues/1496

Specifically to `cummin` and `cummax`, the following issues are also blockers:
- https://github.com/dask/dask/issues/4747
- https://github.com/rapidsai/cudf/issues/1514

PRs for are currently be

[2019-05-02 11:17] gravitino opened #218 "dask_cudf.read_csv has no docstring"
dask_cudf_read_csv has no docstring. At least one should state that you forward the arguments to cudf.read_csv.

[2019-05-02 13:50] mrocklin commented on #218
Agreed that this would be great to have

On Thu, May 2, 2019 at 6:17 AM Christian Hundt <notifications@github.com>
wrote:

[2019-05-02 22:02] MikeChenfu opened #221 "Write failed with dask_cudf.to_csv()"
I got errors when using dask_cudf.to_csv(). I tried writing my dask_cudf dataframe into a .csv file but it failed.

Here is an unit test.

[code]
When I run above the code, I got the errors.
[code]
I appreciate if anyone has any suggestions.

[2019-05-03 11:44] #221 closed

[2019-05-03 13:25] mrocklin commented on #221
dask-cudf doesn't implement everything that dask dataframe does.  Unfortunately this is in that set of things.  @randerzander there is a doc somewhere that lays out the situation

https://rapidsai.github.io/projects/cudf/en/0.7.0/dask-cudf.html

[2019-05-03 15:21] MikeChenfu commented on #221
Thanks @mrocklin .
I see that dask_cudf supports to_csv api so I try it. That document is very helpful.

[2019-05-03 20:35] #185 closed

[2019-05-03 21:59] #214 closed

[2019-05-04 03:03] ayushdg opened #225 "[BUG] Cudf Read Parquet from Dask delayed copies data to GPU0 after operation"
I have a cluster and I'm using Dask delayed with cudf's read_parquet to read a parquet file. Dask cudf tries to read the file on one GPU and then transfer the data to GPU0.
Also if by chance the worker reading the file also happens to be on GPU0, it then tries to transfer this data to the other python instance of GPU0 as shown in `nvidia-smi`.

This new data on GPU0,  occasionally gets garbage col

[2019-05-04 03:16] randerzander opened #226 "[BUG] dask-cudf 0.7.0 nightly package fails import"
Fresh conda env, created as:
[code]
rapids_dev.yml:
[code]

Importing cudf is fine.

Importing dask_cudf fails to find libcudf_cffi.
[code]

[2019-05-04 13:19] mrocklin commented on #225
My guess is that this comes from this line:

    ddf = dask_cudf.from_delayed(parts)

It doesn't know the columns or dtypes (the meta) so it has to run one of your tasks to get a sample dataframe, and then it brings that back to the client so that your dask dataframe can have the right columns and dtypes.

Typically this is solved by reading the metadata in the parquet files themselves, which avoi

[2019-05-04 13:20] mrocklin commented on #226
cc @kkraus14 @raydouglass

[2019-05-04 17:36] kkraus14 commented on #226
@mrocklin working on this, will have a PR into dask-cudf to resolve shortly.

[2019-05-06 01:01] randerzander commented on #226
closed by #228

[2019-05-06 01:01] #226 closed

[2019-05-06 02:03] randerzander opened #231 "[BUG] multi-column groupby with "count" agg fails"
Now that multiindex support merged into cuDF, I was testing some multi-column groupbys in dask-cudf and ran into the following issue.

From the tip of cudf and dask-cudf branch-0.7:
[code]
Result:
[code]

[2019-05-06 13:36] thomcom commented on #231
I working on making this issue go away. :)
Unfortunately the exposed behavior of groupby between cudf and pandas is identical and works as expected:

[code]
[code]

I'm working on understanding the metadata groupby performed by dask so I can better support it in cudf.

[2019-05-06 13:39] mrocklin commented on #231
I've also been playing with this, but so far I'm mostly stuck on getting a good environment up with cudf nightly builds.  Hopefully I'll also be able to guide here shortly?

[2019-05-06 14:19] thomcom commented on #231
Ok, so I know what I'm working on today. :) There's a whole set of semi-hidden behaviors pandas uses for indexes when, you guessed it, the groupby result is empty. Turns out you depend extensively on them for dask-cudf. :D I should be able to support the set of empty groupby/index results that pandas produces in cudf by end of day. Probably before - tests are written, I'm working through them now.

[2019-05-06 14:28] mrocklin commented on #231
I take it that the current code paths don't work with empty dataframes?

If you're making different code paths for empty dataframes then I would become slightly concerned about a maintenance issue (every time we make a change we now need to make another change).  Is there some way to generalize the original code path?

[2019-05-06 14:46] thomcom commented on #231
I don't think it is an inappropriate modification. `libcudf` performs groupbys without any knowledge of indices - all of the data columns are present in the input and output to libcudf groupby. After the groupby is complete, I wrote a post-processing step that, using the structure and shape of the _by arguments to construct an output dataframe and index that match Pandas. I basically ignored the d

[2019-05-06 14:46] thomcom commented on #231
I think :)

[2019-05-06 15:19] thomcom commented on #231
So I corrected the code to handle empty groupbys, but a major issue remains with trying to do `.agg('count')` that seems to be unrelated:

[code]

[2019-05-06 17:03] mrocklin commented on #231
Using `pdb` to look at the state where the exception is happening, it appears to be doing something like the following:

[code]

[2019-05-06 17:08] mrocklin commented on #231
On the following code example

[code]

The traceback shows that Dask is calling `pd.DataFrame` on something

[code]

If I make this change

[code]

Then we get here:

[code]

So perhaps that check within cudf could use some review

[2019-05-06 17:56] mrocklin commented on #231
See https://github.com/dask/dask/pull/4778 to get us past the dask issues.  The index comparison issues seem real though?

[2019-05-06 17:57] thomcom commented on #231
That check has ruined my day repeatedly.

[2019-05-06 18:04] mrocklin commented on #231
Yeah, @quasiben and I ran into it too when playing with cuML.  It can be quite expensive in the common case.

[2019-05-07 14:15] randerzander opened #234 "[BUG] GroupBy with a string in the DF fails"
From tips of cudf and dask-cudf branch-0.7..

The groupby in cuDF works:
[code]
Result:
[code]

The same groupby fails in dask-cudf
[code]

Trace:
[code]

[2019-05-07 14:20] mrocklin commented on #234
For group education, here is how I debug these things.

[code]

[2019-05-07 14:44] thomcom commented on #234
That's quite helpful, thanks @mrocklin.

[2019-05-07 15:16] mrocklin commented on #158
Was this fixed by https://github.com/rapidsai/cudf/pull/1396 ?

[2019-05-07 15:23] mrocklin commented on #161
This part is concerning:

[code]

It looks like we're making an explicit `pandas.Series` call, which will be sad if given a cudf dataframe.

I suspect that the solution here is to type check. Maybe something like

[code]

[2019-05-07 15:24] mrocklin commented on #193
OK, sounds like we should remove this method.  Ok with you @randerzander ?  I think that you all are using the standard merge method rather than this older method, but wanted to be sure.

[2019-05-07 16:18] ayushdg commented on #234
I had noticed this issue yesterday and have an idea of what's going on. When we do `.val` ideally we would want to select only one column right. https://github.com/dask/dask/blob/43cf4a8087d651b710e80ece4ecbf208bc090ed9/dask/dataframe/groupby.py#L1208-L1211

When we do `g._meta = g._meta[key]` Pandas creates a `Seriesgroupby` instance while cudf just sets this argument: https://github.com/rapidsai

[2019-05-07 16:33] randerzander commented on #193
Considering [we can do indexed joins using mainline dask](https://gist.github.com/mrocklin/ab10c61a17391e8dbc7577f83fc4d25d), that's fine with me.

[2019-05-07 18:50] randerzander commented on #158
I don't believe so. In recent builds of cudf/dask-cudf I am still unable to drop columns:
[code]

Trace:
[code]

[2019-05-07 19:06] mrocklin commented on #158
@rjzamora want to take a look at this as well?

On Tue, May 7, 2019 at 1:50 PM Randy Gelhausen <notifications@github.com>
wrote:

[2019-05-08 14:34] randerzander opened #236 "[QST] How to eliminate/drop 0 row partitions?"
I have an ETL process which filters different counts of records on a per input-file basis.

I end up with a dask-cudf DataFrame where many of my partitions contain 0 rows. This presents a problem for APIs that consume partitions of my DataFrame downstream, dask-xgboost for instance.

I'm aware of the `repartition` operator and its "npartitions" operator, which works in testing, but I essentially h

[2019-05-08 14:37] rjzamora commented on #158
@mrocklin - Sorry if this is not the right place for this, but could you explain a bit how `dask_cudf` and `dask` fit together?

I can avoid this error by dropping the `errors` argument from the call to `map_partitions` [here](https://github.com/dask/dask/blob/master/dask/dataframe/core.py#L2937).  However, I don't want to propose changes in `dask` if the real problem is in `dask_cudf`, but I'm ju

[2019-05-08 14:41] mrocklin commented on #236
There is no way to do this lazily, but if you're fine computing you could probably do something like this:

[code]

[2019-05-08 14:46] mrocklin commented on #158
See https://blog.dask.org/2019/01/13/dask-cudf-first-steps

Dask dataframe was designed around Pandas.  We're now using that same code to also apply to cudf.  This requires cudf to look more like pandas than it currently does.  You're correct that we can't drop functionality from dask dataframe to support cudf (99% of Dask DataFrame use today is with with Pandas) so instead we add just enough func

[2019-05-08 14:51] rjzamora commented on #158
Sounds good @mrocklin  - thanks!

[2019-05-08 15:13] #236 closed

[2019-05-08 15:26] quasiben commented on #231
@randerzander I believe we can close this now with https://github.com/rapidsai/cudf/pull/1659 merged in.  Can you confirm this works for you, and if so, close ?

[code]

[2019-05-08 15:30] rjzamora commented on #158
@mrocklin @randerzander - I submitted a PR with a simple fix for this in `cudf` (https://github.com/rapidsai/cudf/pull/1680).  I'm new to the rapids workflow, so any advice/suggestions on getting my changes into `branch-0.8` are welcome :)

[2019-05-08 17:27] rjzamora commented on #161
@mrocklin @quasiben I cannot reproduce this issue using the latest `branch-0.8` branch of `cudf`.  Let me know if you still can.

[2019-05-08 17:29] quasiben commented on #161
I can't reproduce on the 0.7 branch.  Closing.  Thanks for checking on this @rjzamora

[2019-05-08 17:29] #161 closed

[2019-05-08 17:47] robocopnixon opened #237 "[Bug] read_csv(/foo/file_*) fails if only one file is in the directory."
When using a wildcard to read in files, if there is only one file in the directory, `dask_cudf.read_csv()` fails and returns a "file not found error." Full stack trace below:
[code]

[2019-05-08 17:53] mrocklin commented on #237
Looking at the traceback it looks like it's pointing us to this code

https://github.com/rapidsai/dask-cudf/blob/db258ab1304d5a7d4fe2af659f6d100d33c56671/dask_cudf/io/csv.py#L23-L30

It looks like `sorted(glob(str(path)))` is returning an empty result.  I recommend trying this and seeing what that happens.  If that returns no results then my guess is that there aren't any files that match your glo

[2019-05-08 17:54] quasiben commented on #237
Hmm, I just tried this without issue:

[code]

[code]

Could it be the path is incorrect ?  As a guess, can you try:

[2019-05-08 17:56] robocopnixon commented on #237
I'll try @mrocklin suggestion when I get a chance. The path is correct, and I made sure the file could be read by the notebook. I repo'd this twice before posting, and `pandas.read_csv()` could find the file.

[2019-05-08 17:58] mrocklin commented on #237
I recommend trying the python `glob` module (which is what Dask is using here to find filenames) and see if the problem persists there.

[2019-05-08 18:14] robocopnixon commented on #237
User error. Thanks everyone.

[2019-05-08 18:14] #237 closed

[2019-05-08 20:03] rjzamora commented on #193
@mrocklin  @sklam - `DataFrame.join` does not support the `on=` argument, while `join_impl.join_frames()` requires it.  Therefore, they solve two different problems (join by index and join by column(s)).  Should we start by leaving the `DataFrame.join` algorithm in place, but just add the `on=` argument (and call the `join_impl` implementation when `on != None`)?  Or, should we expand `join_impl`?

[2019-05-08 20:06] mrocklin commented on #193
I believe that we can do everything we need with the `DataFrame.merge` method (and the code on which it depends).  It supports both the `on=` keyword and the `left_index=` and `right_index=` keywords for joining on the index.

[2019-05-08 20:09] rjzamora commented on #193
Makes sense - `DataFrame.merge` uses `join_impl` anyway.

[2019-05-09 14:49] mrocklin commented on #225
OK to close @ayushdg ?

[2019-05-09 14:53] mrocklin commented on #209
All of those are merged.  Can this be closed?

[2019-05-09 14:53] #208 closed

[2019-05-09 14:53] mrocklin commented on #200
That issue was resolved.  OK to close this?

[2019-05-09 16:31] #144 closed

[2019-05-09 17:16] ayushdg commented on #225
Hey @mrocklin. I'm still a bit unsure about what this means. My understanding is that dask does not know what my metadata looks like so it has to run one of the tasks to get a sample Dataframe. Assuming dask does this on GPU-3. It performs the task infers the metadata etc. I'm still not sure why there is a transfer of this Dataframe back to GPU0. It would be great if you could elaborate a bit on t

[2019-05-09 21:08] quasiben commented on #231
closing. @randerzander if you are still getting the error please reopen

[2019-05-10 02:02] #234 closed

[2019-05-10 15:01] raydouglass opened #246 "[BUG] Dependency mismatch & probably incorrect"
The conda `meta.yaml` specifies dask >=0.19.0 and distributed >=1.23.0

`requirements.txt` specifies dask>=1.1 and distributed>=1.26

These dependencies should match. Additionally, I think these versions are too old and should be updated.

My guess at the versions:
- dask>=1.1.5 (?)
- distributed>=1.28.0.

[2019-05-10 15:58] mrocklin commented on #246
@quasiben can you handle this?  Given that dask-cudf is likely to be used only by early adopters, and that there is fairly tight coupling, my inclination is just to move everything to be pretty recent.  I might go even newer and use latest release at dask==1.2.2

[2019-05-10 16:02] kkraus14 commented on #246
I would suggest dask >=1.2.2 so that we quickly realize if things upstream break us with new releases 😄

[2019-05-11 05:33] randerzander commented on #231
The issue appears to have returned in the latest 0.7 nightlies:
[code]

[2019-05-11 20:14] thomcom commented on #231
Thanks Randy. This is a different issue than the one originally filed under this bug. The issue here is related to dask-cudf and that a dask-cudf groupby in this case is producing a `SeriesGroupBy` object from the multiple groupby, when CUDF and Pandas both produce a DataFrameGroupby (CUDF just calls this a Groupby). Pandas SeriesGroupBy and DataFrameGroupby are basically identical, so dask-cudf n

[2019-05-13 13:09] miguelangel commented on #190
I have just downloaded the latest container (RAPIDS v0.7). It is working now.

Thank you!

![image](https://user-images.githubusercontent.com/26169771/57623891-08cef780-7591-11e9-8ed6-31d432ebc142.png)

[2019-05-13 13:09] #190 closed

[2019-05-13 13:10] mrocklin commented on #190
Thanks for checking and closing!

On Mon, May 13, 2019 at 8:09 AM Miguel Martínez <notifications@github.com>
wrote:

[2019-05-13 15:02] #199 closed

[2019-05-13 15:59] quasiben commented on #231
I believe this should be resolved by https://github.com/dask/dask/pull/4786

[2019-05-13 19:29] beckernick commented on #209
Looks like we have an outstanding issue with the pass-through due to cudf's melt not having a `col_level` keyword argument. We can probably either implement this as a placeholder that does nothing (and assert that the kwarg is None) or actually implement the functionality now that we have MultiIndex.

[2019-05-13 19:40] kkraus14 commented on #209
I'd suggest you open an issue on cuDF and we continue discussion there 😄

[2019-05-13 19:48] beckernick commented on #209
Done :)

[2019-05-13 20:12] brhodes10 opened #252 "Concat string columns with Nulls"
There is an issue where an error is thrown when there's a `concat` of dataframes that have columns which are defined as string dtype, but expected to have all null values.

To reproduce (in Jupyter). Here the csv records are split and later combined using `concat`, similar to the notebook referenced below.
[code]
Error Output:
[code]

For reference, the issue was originally found while running thi

[2019-05-13 20:16] kkraus14 commented on #252
There's definitely a cudf bug in here where StringColumn objects are becoming NumericalColumn objects. I don't think dask-cudf is doing anything to affect this behavior, so would suggest opening this bug on the cudf repo instead of the dask-cudf repo.

[2019-05-13 20:24] brhodes10 commented on #252
Issue has been submitted in cudf repo https://github.com/rapidsai/cudf/issues/1723
thanks!

[2019-05-14 19:28] beckernick commented on #125
When I run this same example now, I get a different error:

[code]

Because `MultiIndex` is a subclass of `Index` and the `as_column` method isn't implemented at the `Index` level but at the `RangeIndex` and `GenericIndex` level, we get this attribute error. We likely need to implement `as_column` for MultiIndex. I will raise an issue on cuDF.

I'm built from:

*dask-cudf*
commit 4ba5f93d8071429cf

[2019-05-14 19:46] quasiben commented on #125
Which version of dask are you using ?

[2019-05-14 19:53] thomcom commented on #125
It's possible it is a new issue - but yesterday I wrote code that prevents MultiColumn from trying to call as_column - instead, each column of the MultiIndex gets added to a groubpy dataframe.

[2019-05-14 20:12] beckernick commented on #125
I still get this error with dask-cudf.

cudf:
[code]
commit 4ba5f93d8071429cfcd8f899abd936b3f85bfb3e (HEAD -> branch-0.8, origin/branch-0.8, origin/HEAD)
Author: Matthew Rocklin <mrocklin@gmail.com>
Date:   Fri May 10 21:45:26 2019 -0500
[code]
root@38105919cd59:/dask-cudf# conda list | grep dask
dask-core                 1.2.2                      py_0    conda-forge
dask-cudf                 0.0

[2019-05-14 20:22] #246 closed

[2019-05-14 20:32] #115 closed

[2019-05-14 20:46] thomcom commented on #125
This is caused by `npartitions=2` - it works great with `npartitions=1`.

[2019-05-14 20:48] mrocklin commented on #217
This seems to be resolved

[2019-05-14 20:48] #217 closed

[2019-05-14 20:48] #211 closed

[2019-05-14 20:49] #200 closed

[2019-05-14 20:53] mrocklin commented on #149
@beckernick is this still relevant?  If so, @quasiben you might want to take a look.

[2019-05-14 20:56] mrocklin commented on #152
cc @quasiben

[2019-05-14 20:57] beckernick commented on #149
This issue has been resolved upstream. Closing. Thanks Matt

[2019-05-14 20:59] mrocklin commented on #149
Thanks @beckernick !

[2019-05-14 20:59] #149 closed

[2019-05-14 21:01] mrocklin commented on #225
Yes, exactly

It stores the metadata as a tiny cudf dataframe, so it has to move some data back to where the Dask dataframe lives.  Currently it looks like it moves the full partition, and then calls head.  Probably it should call head and then move that.

[2019-05-14 21:05] mrocklin commented on #225
https://github.com/dask/dask/pull/4802

[2019-05-14 21:51] thomcom commented on #125
I have a fix for this I'm working into a PR now.

[2019-05-15 20:06] taureandyernv opened #253 "[FEA] Read JSON support for dask_cudf"
We're seeing a repeated request form the commuity to have read JSON support, esp for distributed systems.  Can we implement it please?

[2019-05-15 20:10] quasiben commented on #253
Sure, I think `cudf.read_json` was merged earlier today: https://github.com/rapidsai/cudf/pull/1630

[2019-05-15 20:13] beckernick commented on #212
For those following, `cumsum` and `cumprod` are currently working in dask-cudf.
[code]

[2019-05-15 20:13] mrocklin commented on #253
@rjzamora would you be interested in this?  This would get into into cudf a bit more, and would also force you to learn about how Dask handles computations internally.

These PRs are good examples to work from:

-  https://github.com/rapidsai/dask-cudf/pull/58/files
-  https://github.com/rapidsai/dask-cudf/pull/220/files

Relevant docs:

-  https://docs.dask.org/en/latest/custom-graphs.html
-  htt

[2019-05-15 20:23] mrocklin commented on #253
Actually, as a first pass, we might consider using Dask's internal bytes functionality.  This is probably less efficient, because we'll be grabbing data using normal methods and going through host memory, but it's a bit more robust, handles cloud object stores, and so on.  It might be totally fine performance-wise.

So rather than the two PRs listed above we might try seeing if we can reuse this c

[2019-05-15 20:24] mrocklin commented on #253
So this would require a patch to `dask`, and then probably a very small patch to dask-cudf, which just adds a one-line function that defaults `cudf.read_json`.

[2019-05-15 20:33] mrocklin commented on #212
Woot!  Thank you for tracking and managing this @beckernick .

Are there other operations or help that you need here?

[2019-05-15 20:45] rjzamora commented on #253
Sounds good @mrocklin - I'll start looking at this today

[2019-05-16 16:41] rjzamora commented on #253
@mrocklin I am thinking through the changes you suggested, and the first recommendation makes sense to me (I think):

1. change the [`read_json_chunk`](https://github.com/dask/dask/blob/edec11047c999a40c387c657c6811ab00c655a89/dask/dataframe/io/json.py#L170)  and `read_json_file` definitions to do something like this:

[code]
2. Use:  `df = dd.read_json(f, read_function=cudf.read_json)` in user ap

[2019-05-16 16:44] mrocklin commented on #253
1.  Seems like we're on the same page

2.  Yes, for user convenience, but we can visit that after we've verified that the approach in 1 works well

[2019-05-16 17:27] rjzamora commented on #253
Ok, (1) works fine with a small change in `cudf` (`cudf.read_json` expects a path, but dask wants to pass along a file handle).  My thought is to do this in `cudf`:

[code]

[2019-05-16 17:33] mrocklin commented on #253
I think that `cudf.read_csv` was able to take a Python `io.BytesIO` object.  Perhaps `cudf.read_json` does as well?  If not, then maybe that's a change that we could ask for.

[2019-05-16 17:34] kkraus14 commented on #253
I think the first step should be to open an issue for discussion / tracking in cuDF regardless. If it doesn't accept the standard input objects then it should be updated to do so. 😄

[2019-05-16 17:37] mrocklin commented on #253
Yeah, looking at the code it looks like the name `path_of_buf` was intended to imply this ability.  It's definitely there in read_csv, but also definitely not in read_json.  My *guess* is that it's an easy-ish fix for the cuio folks.  +1 on raising on cudf and asking for a bit of help.  My guess is that they'll have things done in a short time, but they'll have a better sense of things.

[2019-05-16 17:43] rjzamora commented on #253
Right, the csv bindings in cudf use an `is_file_like` function to handle different input types. Raising an issue to suggest the same approach for json makes sense to me - I can do this if someone hasn't already

[2019-05-16 18:36] #209 closed

[2019-05-16 19:43] rjzamora commented on #253
I raised a new issue in cudf about this (https://github.com/rapidsai/cudf/issues/1769) - In the meantime, I will submit a PR to add a `read_json` function in `dask_cudf`.  For now, this function can just copy most of the dask code (but will use `cudf.read_json` when appropriate).

[2019-05-16 19:51] mrocklin commented on #253
Ah, let's avoid copying the code if we can.  I can see how this could be construed from my point above though.

For point 2 above what I meant was that we might have a function like

[code]

Or, perhaps less fancily

[code]

I wouldn't expect any more code in dask-cudf than that.

[2019-05-16 20:00] rjzamora commented on #253
@mrocklin I agree with this approach once dask is changed to handle the `read_function` keyword`, and cudf is modified to handle non-string input parameters for the file path.

The "quick fix" I suggested is just a temporary solution that does not require changes in dask or cudf -  If you think we should wait for action in dask and cudf before addding anything in dask-cudf, I certainly understand.

[2019-05-16 20:08] thomcom commented on #125
Please confirm this is fixed when you can @beckernick

[2019-05-16 20:09] mrocklin commented on #253
I think that we should wait.  I think that changes in both upstream
repositories will take no more than a few days.  We have plenty of other
work to keep us occupied in the meantime I think.

On Thu, May 16, 2019 at 3:00 PM (Rick) Richard J Zamora <
notifications@github.com> wrote:

[2019-05-16 20:25] rjzamora commented on #253
That works for me - will update the existing PR with the streamlined solution once it makes sense

[2019-05-16 21:54] randerzander commented on #231
This is resolved with cudf branch `release-0.7.2`.

Thanks everyone for the hard work figuring this out!

[2019-05-16 21:54] #231 closed

[2019-05-17 15:07] beckernick commented on #125
@thomcom, will build from the hotfix to test this, as your merged fix isn't yet in branch-0.8

[2019-05-17 15:54] beckernick commented on #212
@mrocklin , the key outstanding blockers for cummin and cummax are upstream. From the dask side, I believe we are fine.

[2019-05-17 17:38] kkraus14 commented on #252
Fixed with https://github.com/rapidsai/cudf/issues/1723.

[2019-05-17 17:38] #252 closed

[2019-05-17 20:06] beckernick opened #256 "[BUG] to_frame fails after calling Series.unique on a named Series"
Currently, calling `to_frame` after `unique` causes a ValueError when the underlying series is named. This is due to the `unique` method returning a new cudf.Series but not carrying over the `self.name` attribute of the original Series. As a result, the metadata expects the names to match but we end up with `'a'` and None. Will file an issue on cuDF, but creating this one for tracking purposes. Th

[2019-05-17 20:22] ayushdg opened #257 "[Discussion] Dask groupby compatibility with cudf groupby methods (hash, sort)"
Cudf's groupby slightly deviates from pandas in that it provides a `method` argument allowing us to provide method=hash, sort etc.

I have workflows with aggregations such as `first` and `last` which are currently not supported by cudf but my understanding is that even if it does get implemented, it would be a part of the sort based groupby as ordering in the hash based one is non-deterministic an

[2019-05-17 20:26] kkraus14 commented on #257
There's a groupby refactor coming to cudf very shortly, and one of my goals in the refactor is to eliminate the `method` keyword. Given the actual groupby doesn't occur until you run the aggregations in cuDF, it's easy enough to call the appropriate groupby method based on the aggregations / functions you ask from the groupby object.

[2019-05-17 21:50] #256 closed

[2019-05-17 22:55] mrocklin commented on #257
@ayushdg if you're just looking for a workaround then you might be interested in Dask's custom aggregations: https://docs.dask.org/en/latest/dataframe-api.html#custom-aggregation

[2019-05-20 17:00] randerzander commented on #195
re-opening, we should resolve this in 0.8 if possible.

I've added the underlying cudf issue to P1

[2019-05-20 17:07] ayushdg commented on #257
Thanks @mrocklin! I'll try to play around with this and see how it works when the underlying Dataframe is a cudf Dataframe.

[2019-05-21 16:50] beckernick commented on #125
Resolved by rapidsai/cudf#1741. Thanks @thomcom . Closing.

[2019-05-21 20:12] ayushdg opened #258 "[BUG] Performing operations that call `partition_index` throw error"
Ran into an error while performing merge. The stack trace indicates that any operation calling `partition_index` would trigger the error.

**Reproducible code**
[code]

There probably is a simpler example to reproduce the same issue.

Output:
[code]

Also faced the same issue with other types of indices `TypeError: Unexpected type for hashing <class 'cudf.dataframe.index.StringIndex'>`

**Environm

[2019-05-22 18:44] #225 closed

[2019-05-22 18:54] beckernick opened #259 "[BUG] Cannot convert dask_cudf dataframe to cupy backed dask array"
We can create and use cupy backed dask arrays, like so:

[code]

We can convert a dask dataframe into a dask array backed by numpy

[code]

But we can't convert a dask_cudf dataframe to a cupy backed array

[code]

[2019-05-22 19:05] mrocklin commented on #259
[code]

I encourage you to find a way to convert a cudf dataframe into a cupy array, and then call that function across your dask dataframe with `map_partitions`.  This is all that these functions are doing.

Also, I'd like to start encouraging people to stop using `dask_cudf.from_cudf` and start using `dd.from_pandas` for both pandas and cudf dataframes.

[2019-05-22 19:05] mrocklin commented on #259
[code]

[2019-05-22 19:06] beckernick commented on #259
Thanks @mrocklin , this is great to know.

@cjnolet , for visibility into dask dataframe -> cupy

[2019-05-22 19:15] mrocklin commented on #259
The right approach here is probably to use the `.values` property.  That way we can more easily rely on the cudf objects to help us understand how to convert them over.

Fixed on the Dask side here: https://github.com/dask/dask/pull/4835

It's probably a trivial two line fix in cudf if someone wants to implement it there (both on DataFrame and Series)

[code]

[2019-05-22 19:15] randerzander commented on #259
Can I ask why? If I have a cuDF, I would not expect to pass it to a function that expects a Pandas DataFrame. This would be confusing for users. Is there a significant burden maintaining a dask_cudf function called `from_cudf`?

[2019-05-22 19:20] beckernick commented on #259
Thanks for continuing to push this forward Matt. A current concern with a `.values` property is that as_gpu_matrix requires the data to 1) be numeric; and 2) be of the same type. Will take this aspect of the discussion to the cudf issue

[2019-05-22 19:23] mrocklin commented on #259
The function is now poorly named.  It expects anything that supports `iloc` and `len`, including cudf dataframes.

Agreed, we should probably find a better name for the dask dataframe function that is more generic.  Maybe `from_dataframe`?

Nope, and it's not going away until it's free to do so, but I would like to remove the dask-cudf library at some point, and training people away from these spe

[2019-05-22 20:05] beckernick commented on #259
I think generalizing to something like `from_dataframe` makes sense and limiting the number of end user methods is valuable. I'd be hesitant to suggest renaming `dd.from_pandas` without providing some significant time with that API method succeeding but raising a deprecation warning. But, we could create something like `from_dataframe = from_pandas`, just as you or others did for `from_cudf = dd.f

[2019-05-23 15:41] randerzander commented on #158
Closing now that rapidsai/cudf#1680 merged

Thanks, @rjzamora!

[2019-05-23 15:41] #158 closed

[2019-05-23 17:10] galipremsagar opened #260 "dask cudf records being manipulated in map_partitions call"
map_partitions seems to be manipulating the input data frame with 'foo' or either is running some sort of unit-test before running the actual mapper function.

Below is my code:

[code]

Output:

[code]
![dask_bug](https://user-images.githubusercontent.com/11664259/58271989-03249f00-7d53-11e9-90a6-a0c68e3df837.PNG)

This issue surfaced while I was trying to access specific index of the output of `

[2019-05-23 18:21] quasiben commented on #253
https://github.com/rapidsai/dask-cudf/pull/255 should resolve this PR

[2019-05-23 20:47] beckernick opened #261 "[BUG] DataFrame.sum and mean fail due to lack of axis and skipna keywords in cudf.DataFrame.sum"
DataFrame level `sum` and `mean` fail due to lack of axis and skipna keyword arguments in cudf.DataFrame.sum. Raising this issue here for tracking purposes and will raise the upstream cuDF issue to resolve the issue.

[code]

[2019-05-24 01:20] randerzander commented on #253
Closed by #255 , @taureandyernv let us know if this isn't working for your usecases, please!

[2019-05-24 01:20] #253 closed

[2019-05-24 02:03] randerzander commented on #167
closing as duplicate of #130

[2019-05-24 02:03] #167 closed

[2019-05-24 02:26] randerzander commented on #127
to_csv in particular may be resolved when rapidsai/cudf/pull/1542 merges

[2019-05-24 04:52] randerzander commented on #125
@beckernick @thomcom hmm.. looks like we have a new problem.

I just installed conda nightlies and with Nick's repro, I get:
[code]

[2019-05-24 18:37] beckernick commented on #125
Confirmed that I run into the same issue @randerzander .

[2019-05-24 20:13] randerzander commented on #61
Closing now that we do this

[2019-05-24 20:13] #61 closed

[2019-05-24 20:42] quasiben commented on #260
Thanks @galipremsagar for reporting!

`map_partitions` does do a kind of test, that is, it's trying to match the output metadata.  Users can supply this information with kwarg `meta` (see: http://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.map_partitions) .   when `meta` is not supplied dask tries to infer the output and in this case it builds a small DataFrame with `foo` a

[2019-05-24 20:48] randerzander commented on #90
@dantegd if you're still having this issue please re-open.

I'm unable to repro this issue based on your test case. I use from_cudf in other workflows and don't run into anything similar.

[2019-05-24 20:48] #90 closed

[2019-05-24 20:57] quasiben commented on #125
@thomcom want to pair on this and look the issue on Tuesday ?

[2019-05-24 21:01] thomcom commented on #125
Sure, the issue has been introduced by https://github.com/rapidsai/cudf/pull/1622 so maybe we should pull in @shwina also.

[2019-05-24 21:02] quasiben commented on #187
I just tried this and got the correct output:

[code]

@randerzander can you try again ?

[2019-05-25 11:49] quasiben commented on #260
@galipremsagar if you are not aware [cyberpandas](https://github.com/ContinuumIO/cyberpandas/) may also be of use to you in the future:
https://cyberpandas.readthedocs.io/en/latest/

[2019-05-28 17:18] beckernick commented on #261
Resolved by #1849. Closing.

[2019-05-28 17:18] #261 closed

[2019-05-29 14:53] mlahir1 opened #263 "[BUG] Agg function on Multi column groupby throws following errors."
**Multi Column Group-by throws following error**: "Length of values does not match index length"

**Reproducer Code:**
[code]
if you change the agg function from mean to sum, it throws another error:
[code]
AttributeError("'RangeIndex' object has no attribute 'names'")

[2019-05-29 15:09] beckernick opened #264 "[BUG] Cumsum upcasts Series dtype inconsistently across partitions"
**Describe the bug**
Dask appears to not be preserving the metadata of the original Series when using `cumsum` (and perhaps other operations). This is causes issues since cudf cannot concatenate objects of different dtypes. This only occurs if the cudf.Series dtype is an integer type.

We should probably allow concatenation of different dtype objets in cuDF, but we should also maintain dtype consi

[2019-05-29 15:33] quasiben commented on #263
Thanks for the bug report and reproducible example.  This is a bug.  While we fix the `mean()` call should work on all columns in the dataframe:

[code]

[2019-05-29 17:54] thomcom commented on #125
PR for this pending.

[2019-05-29 20:36] mlahir1 opened #265 "[BUG] Multi Column Groupby is Very Slow"
Multi Column groupby on dask_cudf is over 10x slower compared to cudf

Dask CUDF
--------------
[code]
**Performance Results:**
CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 542 µs
CPU times: user 704 ms, sys: 20 ms, total: 724 ms
Wall time: 725 ms
CPU times: user 392 ms, sys: 4 ms, total: 396 ms
Wall time: 394 ms

CUDF
--------------
[code]

**Performance Results:**
CPU times: user 4 ms

[2019-05-29 22:34] galipremsagar commented on #260
Cool, This helped.

Yes I'm aware of that package. Been using it.

[2019-05-29 23:09] mlahir1 commented on #265
I have increased the number of rows to 10000.
df['key'] = [i for i in range(10000)]
df['val'] = [i for i in range(10000)]
df['val1'] = [i for i in range(10000)]

dask_cudf
------
CPU times: user 5min 22s, sys: 40.6 s, total: 6min 3s
Wall time: 6min 51s

cudf
------
CPU times: user 88 ms, sys: 4 ms, total: 92 ms
Wall time: 423 ms

[2019-05-29 23:10] beckernick commented on #265
cc @randerzander

[2019-05-29 23:18] mlahir1 commented on #265
I am building from branch-0.8 source(dask-cudf). The source code is 2 days old - built Tuesday Morning at 4AM CST.

[2019-05-30 01:42] mrocklin commented on #265
These notes in the Dask Best Practices docs may be relevant

http://docs.dask.org/en/latest/dataframe-best-practices.html#use-pandas
http://docs.dask.org/en/latest/best-practices.html#start-small

On Wed, May 29, 2019 at 6:18 PM Lahir Marni <notifications@github.com>
wrote:

[2019-05-30 02:24] quasiben commented on #260
Glad to hear it!  I'm going to close this issue.

[2019-05-30 02:24] #260 closed

[2019-05-30 16:15] beckernick commented on #265
Currently, on our branch-0.8, I believe @mlahir1 's code will error. The PR rapidsai/cudf#1882 should resolve the error when it merges.

However, when I run the example code with cuDF built on that PR, I also see it taking an incredibly long time (eventually finishing).

The equivalent pandas/dask.dataframe code takes no time at all:

[code]

[2019-05-30 16:20] kkraus14 commented on #265
@beckernick is it the `from_cudf` call taking a long time or the actual ops underneath running in Dask?

[2019-05-30 16:21] beckernick commented on #265
Profiling now.

[2019-05-30 16:40] beckernick commented on #265
@kkraus14 @thomcom , when done in dask-cudf, the `masked_assign` in the initialization of the groupby takes up an inordinate amount of the time. Within that, `cudautils.compact_mask_bytes` takes up the most time (and within that, its actually making the mask that takes the most time).

[2019-05-30 18:51] quasiben commented on #264
@beckernick thanks for the report.  This is indeed a bug.  Wanted to note that you can also successfully  compute the `cumsum` of the partitions:

[code]

Still, it seems like you are correct that meta data isn't matching up and i'll look at what's happening inside of dask

[2019-05-30 18:59] quasiben commented on #264
@kkraus14 @thomcom how do you feel about optionally relaxing typing checking with concatenation ?

[2019-05-30 18:59] kkraus14 commented on #264
cc @shwina I believe you were poking around at this as well? Typecasting upward shouldn't be a problem.

[2019-05-30 18:59] beckernick commented on #264
@quasiben filed an issue for this rapidsai/cudf#1881. Pandas allows that functionality so we should be able to do it with upcasting

[2019-05-30 19:25] quasiben commented on #264
Ah right.  Apologies @beckernick

[2019-05-30 19:33] thomcom commented on #264
Yup we can do it. :)

[2019-05-30 19:39] thomcom commented on #265
I have a quick and easy fix using `replace` instead of `masked_assign` that improves performance by 50x, but it is still too slow. I'm working on another solution.

[2019-05-30 19:46] quasiben commented on #258
Thanks @ayushdg !  So we could either amend dask to convert the cudf.Index to pandas or call another hashing function on the index.  I'm inclined to look around cudf first

[2019-05-30 19:59] quasiben commented on #258
There doesn't seem to be an easy way to hash an index in cudf at the moment.  @mrocklin what are your thoughts here ?  We could detect the dtype and and call `to_pandas()` (rather ugly and possibly very slow) or we could wait for cudf to gain hashing support for indexes ?

[2019-05-30 20:19] thomcom commented on #265
I take that back - the `replace` solution moves all significant overhead over to `compute`. Runtime for 7 rows is 600msec, 10k rows is 800msec, and 50m rows is 5sec. PR coming up.

[2019-05-30 21:28] beckernick commented on #195
This has been resolved by https://github.com/rapidsai/cudf/pull/1847. Closing. @randerzander

[2019-05-30 21:28] #195 closed

[2019-05-30 21:31] deltadu opened #266 "[Performance] Directly accessing date-time (.dt) is slower than using .map_partitions() and an accessor"
It is slower to directly access date-time (.dt) info

[code]

While using .map_partitions() and an 'accessor' function runs faster:

[code]

The data was partitioned to 8 workers before we tried to access it.
I run 5 iterations with both methods, and the time cost is:
**direct accessing:**
[0.441, 0.460, 0.467, 0.454, 0.466] seconds

**map_partitions:**
[0.219, 0.042, 0.043, 0.041, 0.040] seconds

[2019-05-31 08:02] ayushdg opened #267 "[BUG] `len` after `fillna` operation uses way more memory than expected"
I have a dataframe that occupies ~700-800 MB when persisted. I fill all the nulls in the Dataframe using `fill_na` and call `len` on the new Dataframe. I notice an explosion in memory usage.

Reproducer:
[code]
Now when I do `len(temp)`

Nvidia-smi usage shoots to a max state here:
[code]
Now for the `fill_na` operation

[code]
CPU times: user 35.6 s, sys: 1.26 s, total: 36.8 s
Wall time: 38.7 s (

[2019-05-31 13:35] quasiben commented on #125
@beckernick I just tested with @thomcom recent PR into branch-0.8 everything is working.  Can you confirm and close ?

[2019-05-31 13:36] mrocklin commented on #267
Does this only happen with dask-cudf, or does it happen if you use just
cudf?

On Fri, May 31, 2019 at 1:02 AM Ayush Dattagupta <notifications@github.com>
wrote:

[2019-05-31 14:02] randerzander commented on #125
With the caveat that you now need to append .to_pandas() on the compute result, this looks resolved!

Thanks @quasiben and @thomcom !

[2019-05-31 14:02] #125 closed

[2019-05-31 16:55] ayushdg commented on #267
Tried the same with cudf:
[code]
[code]
CPU times: user 796 ms, sys: 336 ms, total: 1.13 s
Wall time: 1.49 s

Memory usage did not cross ~700 MiB

[2019-05-31 17:27] #265 closed

[2019-05-31 17:35] quasiben commented on #263
With https://github.com/rapidsai/cudf/pull/1896/ merged in we are now getting a new error:

[code]

[2019-05-31 17:46] quasiben commented on #263
@thomcom I wonder if `_sanitize_values` is flummoxed by some the nonmeta dataframes ?

[2019-05-31 19:38] mlahir1 commented on #265
The group-by throws following error after rapidsai/cudf#1896 :

AttributeError: '_DataFrameIlocIndexer' object has no attribute '_getitem_multiindex_arg'

[2019-05-31 19:58] quasiben commented on #265
@mlahir1 can you confirm you have the latest from branch-0.8 ?

[2019-05-31 20:07] mlahir1 commented on #265
I am sure i have latest cudf from branch-0.8. I can try clean building it and testing it again.

[2019-05-31 20:12] quasiben commented on #263
@thomcom and I just finished a debug session.  There is a small error in cudf which we are resolving now and PR is incoming

[2019-05-31 20:14] thomcom commented on #263
Curse string iteration!!!!!

[2019-05-31 20:24] thomcom commented on #265
Strange, that issue was resolved by https://github.com/rapidsai/cudf/pull/1882

[2019-05-31 20:37] mlahir1 commented on #265
@thomcom I clean built it and now it works fine. Strange. Thanks.

[2019-05-31 21:04] randerzander commented on #130
@paulhendricks pending cudf #1890 merging, I assume you'd be in favor of updating this feature request to be `get_dummies` instead of `one_hot_encoding`?

[2019-05-31 21:18] RFinkelberg commented on #130
So I've been trying to implement this using [this cudf definition](https://github.com/rapidsai/cudf/pull/1890) for `get_dummies`.

To expose it through `dask_cudf`, I followed a similar process as [`dask.dataframe.get_dummies`:](https://github.com/dask/dask/blob/master/dask/dataframe/reshape.py#L19)

[code]
Given all of that, when I try
[code]
I get a `ValueError` on `print(res.compute())` arguing

[2019-05-31 22:23] mrocklin commented on #130
Yup, this is the problem (thanks for the edit @RFinkelberg) .

So presumably you would need to look at the categories in the metadata of the input dataframe, and use those categories to populate the columns of the output.    This assumes that the input metadata has known categories. The mainline Dask Dataframe implementation I think has to go through the data in a full pass to compute categories i

[2019-05-31 22:55] RFinkelberg commented on #130
I believe dask's `get_dummies` only works on pandas categoricals, because their metadata stores all the categories. Our `cudf.DataFrame.one_hot_encoding`, and by extension my implementation of cudf's `get_dummies`, gives you the option of passing in the categories yourself. Here's a gross but functional `dask_cudf.core.get_dummies` that works based off that fact.
[code]
I can't think of a clean or

[2019-06-02 01:59] quasiben commented on #263
With https://github.com/rapidsai/cudf/pull/1902 this issue has been fixed.  Thanks @thomcom and thanks @mlahir1 for reporting

[2019-06-02 01:59] #263 closed

[2019-06-03 18:24] VibhuJawa opened #269 "Pickle Errors when using librmm with distributed-dask."
I am getting pickle errors when using `librmm` with `distributed-dask`.
This works fine if only use `dask-cudf/cudf` without `distributed-dask`.

Example:
[code]

Error Trace:

[code]

[2019-06-03 21:49] mrocklin commented on #267
@ayushdg mentioned that calling `map_partitions` with `cudf.fillna` worked fine.  Probably the thing to do here is to walk through the dask.dataframe.DataFrame.fillna implementation and see what branch it takes that is different from just that.

https://github.com/dask/dask/blob/612331d88bbb57c0e8ac03e4d42db1f1018b2b36/dask/dataframe/core.py#L1008-L1054

I would probably do this by putting a break

[2019-06-04 06:55] heshanshanhg3 opened #268 "install error"
dask-cudf  need cuda Version must be cuda 9.2 or cuda 10.0 ? this have to change cuda vesrion。 High cost。can more cuda version use on dask-cudf,for example cuda 9.0?

[2019-06-04 12:59] quasiben commented on #268
@heshanshanhg3 , I believe dask-cudf only support cuda 9.2 and 10.0.  This is because cudf only supports 9.2 and 10.0.  I suspect this is because of critical features in 9.2/10.0 required for libcudf

[2019-06-04 13:47] quasiben commented on #93
This is still an issue -- I think cudf has a bug around multiple aggregations:

Issue is being tracked here:
https://github.com/rapidsai/cudf/issues/1920

[2019-06-04 18:08] mrocklin commented on #269
@quasiben do you have a moment to take a look at this?  My guess is that one of the objects in the cudf dataframe aren't serializable with pickle.  I would probably solve this by using `pdb` and looking up the stack trace to see what that object is.

[2019-06-04 18:42] quasiben commented on #184
@kkraus14, @dantegd, @BradReesWork do we need consistency of CHANGELOG file extension across all projects ?

[2019-06-04 18:43] kkraus14 commented on #184
I'd defer to @mike-wendt and team here. I don't have opinions.

[2019-06-04 18:44] kkraus14 commented on #268
There are additional atomics available in CUDA 9.2 and newer that we take advantage of in cuDF, where supporting them in older versions would have significant performance impact, so we've made the decision to only support CUDA 9.2 and newer.

[2019-06-04 18:45] quasiben commented on #187
I tried again today with most recent cudf/dask-cudf (branch-0.8) and I believe this is now fixed

[2019-06-04 18:45] #187 closed

[2019-06-04 18:46] quasiben commented on #193
@rjzamora can we close this issue ?

[2019-06-04 18:48] quasiben commented on #268
Thanks for the response @kkraus14

[2019-06-04 18:48] #268 closed

[2019-06-04 18:50] quasiben commented on #212
@beckernick this issue is now waiting on https://github.com/rapidsai/cudf/issues/1514, correct ?  Or is this just tracking `cumsum` ?

[2019-06-04 18:56] beckernick commented on #212
@quasiben that should be correct based on my prior assessment (it's been a while since I looked in the code). When that merges, I believe we should have all four. With that said, #264 is also a blocker for aggregations at scale until either upstream changes resolve the concatenation issue or we address it in dask

[2019-06-04 18:56] quasiben commented on #269
looking now

[2019-06-04 18:57] rjzamora commented on #193
Not sure - I only removed the `DataFrame.join` method when I subimtted [PR#245](https://github.com/rapidsai/dask-cudf/pull/245) as a WIP (mostly for CI).  I didn't try to remove uneccesary tests, or (more importantly) redirect anything that was depending on `DataFrame.join`.  @mrocklin - Is this a priority?

[2019-06-04 19:13] quasiben commented on #269
@VibhuJawa I think the issue is that we can't pickle the module import for `librmm`.

[code]

Adding the import to the function definition should resolve your issue:

[code]

[2019-06-04 19:29] quasiben commented on #267
Looking at this now

[2019-06-04 19:38] mrocklin commented on #193
Not a high priority.

On Tue, Jun 4, 2019 at 11:57 AM (Rick) Richard J Zamora <
notifications@github.com> wrote:

[2019-06-04 19:40] mrocklin commented on #269
cc @kkraus14 it looks like this module has some state lingering that might cause difficulties.

[2019-06-04 19:41] kkraus14 commented on #269
We're planning on ripping out CFFI and moving it to Cython, so the timing is good to explore resolving this. I'll poke around RMM to investigate where the module is holding onto CFFI objects.

[2019-06-04 19:46] kkraus14 commented on #269
At the module level they're holding onto CFFI objects all over the place so this will likely have to wait until we rip it out and move to Cython. Once that's done I imagine it will resolve this problem.

[2019-06-04 20:59] quasiben commented on #267
I profiled the code with snakeviz and below are a few snapshots:

<img width="1152" alt="Screen Shot 2019-06-04 at 4 34 19 PM" src="https://user-images.githubusercontent.com/1403768/58911843-c3609e80-86e6-11e9-8682-24b16b37aff3.png">
<img width="1172" alt="Screen Shot 2019-06-04 at 4 34 57 PM" src="https://user-images.githubusercontent.com/1403768/58911844-c3609e80-86e6-11e9-90be-110daf95b978.png"

[2019-06-04 21:00] datametrician commented on #267
I've never seen a more colorful github issue

[2019-06-04 21:07] ayushdg commented on #267
@quasiben That is correct:
[code]
[code]

And then `len(temp)` the memory usage does not shoot beyond ~700 MiB

[2019-06-04 21:09] kkraus14 commented on #267
Any reason for the meta calculation we're going to/from Pandas? https://github.com/rapidsai/dask-cudf/blob/branch-0.8/dask_cudf/backends.py#L15

[2019-06-04 21:23] quasiben commented on #267
I think we could replace `meta_nonempty` with `iloc` as the todo says

[2019-06-04 21:24] VibhuJawa commented on #269
Thanks for this. Doing this resolves the issue.  👍

[2019-06-04 21:24] quasiben commented on #267
But, `meta_nonempty` for indexes is non-trivial:

https://github.com/dask/dask/blob/165f71e70983874a9f63eda544199d526041f69f/dask/dataframe/utils.py#L365-L375

[2019-06-04 21:25] quasiben commented on #269
@kkraus14 are you ok if we close this issue ?  Should we open another one tracking cffi->cython ?

[2019-06-04 21:27] kkraus14 commented on #269
I'm okay with closing this issue, there's already an open issue in the rmm repo: https://github.com/rapidsai/rmm/issues/40

[2019-06-04 21:27] mrocklin commented on #267
Why are we spending 30s in meta_nonempty?  Are we calling it many times?  Are individual calls very expensive?  If "yes" to either of those, then why is that happening?

If there is some workaround with `iloc`, then great, but it sounds like there might also be some larger issue here that might be worth exposing.

[2019-06-04 21:31] #269 closed

[2019-06-04 21:35] quasiben commented on #267
The code above calls `fillna()` 80 times because there are 80 columns.  Writing this out makes me smile :)

@ayushdg, why not call `fillna` on the dataframe ?

[2019-06-04 21:38] ayushdg commented on #267
I used a simplified example where the dtype of the whole dataframe was the same. In reality the dataframe I'm working on has a mixture of strings, date times, numeric etc. So my fillna value depends on the col dtype.
Additionally based on the groupby aggregation I want to perform on the column downstream, my fillna value changes. Eg: for some numeric columns I might want to `fillna` with a really

[2019-06-04 21:42] quasiben commented on #267
In that case i would recommend passing in a dictionary keys->columns and values->fillna-vals

[code]

[2019-06-04 21:55] ayushdg commented on #267
Great! I tried this approach out for this smaller example and everything worked as expected with no memory overhead.

If the performance is as expected and this is an inefficient way to do `fillna` the issue can probably be closed.

If @quasiben and others feel there is some merit in digging a bit further to see why the performance degrades so drastically in this case that would be great, especial

[2019-06-04 21:57] kkraus14 commented on #267
I think this uncovered a bigger issue around the meta_nonempty using considerable memory unnecessarily.

[2019-06-04 22:04] quasiben commented on #267
@kkraus14 agreed.  I can take a look at `meta_nonempty` later tonight

[2019-06-04 22:32] mrocklin commented on #267
%%time
for col in temp.columns:
    temp[col] = temp[col].fillna(-1)
[code]

[2019-06-04 22:34] mrocklin commented on #267
[code]

Just checking here.  Do `dd.DataFrame` and `cudf.DataFrame` support a `fillna` method as well?  For example would the following work?

[code]

We should also try to reduce the cost of creating a small empty cudf dataframe, but I thought I'd ask about this as well.

[2019-06-04 22:52] kkraus14 commented on #267
`temp[temp.columns].fillna(-1)` should definitely work, but I'm unsure if the dataframe setter method you're using works for multiple columns yet 😅

[2019-06-05 15:01] quasiben commented on #266
I'm not entirely sure why this is slower though I suspect column setting is generally faster at a partition level.  With native dask others have [reported similar](https://stackoverflow.com/a/56115170/2258766) timing issue with map_partitions

Can you provide a small reproducible example and I will take a look ?

[2019-06-05 15:09] mrocklin commented on #266
There is some chance that it's scheduler overhead.  I would be mildly surprised by that though.  I agre that a minimal example, possibly using a random dataset like `dask.datasets.timeseries()` would be helpful, just so that everyone can talk about the same situation.

[2019-06-05 15:13] quasiben commented on #266
as a note, cudf also has datasets, `cudf.datasets.timeseries()`

[code]

[2019-06-05 15:17] mrocklin commented on #266
Ah!  Good to know!

On Wed, Jun 5, 2019 at 8:13 AM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-06-05 18:40] deltadu commented on #266
Yes sure
**map_partition()**
[code]

**Direct access**
[code]

[2019-06-05 18:58] quasiben commented on #266
thanks @deltadu I'll take a look at this shortly

[2019-06-05 19:07] mrocklin commented on #266
@deltadu I recommend trying to produce a smaller example if you can.  I recommend taking a look at `dask.datasets.timeseries()`

See also https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-06-05 20:02] pentschev opened #271 "cudatoolkit version in install instructions"
I realize this repo is going to be merge with cudf core soon, but I figured this could be something to be addressed before that happens. `README.md` suggests the following:

[code]

This will by default install `cudatoolkit=10`, even if the target machine uses 9.2. The errors you get are not very helpful for that situation, mostly RMM allocation errors.

So my suggestion is that the instruction al

[2019-06-05 20:14] jakirkham commented on #271
Have you tried with `conda` 4.7? Am curious if PR ( https://github.com/conda/conda/pull/8267 ) is constraining `cudatoolkit` version to align with the driver version correctly.

[2019-06-05 20:24] pentschev commented on #271
No, I didn't know about it, will definitely try it out too. Just out of curiosity, [RAPIDS Getting Started](https://rapids.ai/start.html) still asks which CUDA toolkit you're using, is there an intent to drop that? I think here would be good to have the instructions aligned to that of the getting started page.

[2019-06-05 21:36] quasiben commented on #266
@deltadu this would be an example of something smaller:

[code]

could you try something like the above ?

[2019-06-05 21:37] jakirkham commented on #271
It's very new still. Though it would be great to start dogfooding. 🙂

Probably worth making sure it is working correctly in a few cases before advertising more broadly.

Also this is the latest release of Conda. Many people are likely still on old versions.

Back to your original point, it seems reasonable to note this in the README or in some more general cross project documentation as well.

[2019-06-05 21:44] quasiben commented on #266
In looking at the definition of `assign`:

https://github.com/dask/dask/blob/24ee370e32812ca1cf9df6164f64f817fc658f9e/dask/dataframe/core.py#L2905-L2920

There is a call to `_meta_nonempty`.  In issue https://github.com/rapidsai/dask-cudf/issues/267 and PR https://github.com/rapidsai/dask-cudf/pull/270 we are exploring better/more efficient meta_nonempty creation .  This could potentially explain

[2019-06-05 23:15] deltadu commented on #266
Very weirdly, on this smaller dataset(timeseries() size=2592001 **vs** previous dataset size=165114361), map_partitions is taking a unusual long time, about 3 second, while direct access takes a similar time as before.

**direct access:**
[code]
**time cost for 5 iterations:**
from/to_delayed() takes [0.28138232231140137, 0.3149557113647461, 0.3173391819000244, 0.342602014541626, 0.321455001831054

[2019-06-06 06:05] galipremsagar opened #272 "[Feature request] Dask should provide ability to access .data to access underlying nvstrings functionalities"
This is my use-case:
I'm filtering out records from a dask dataframe in which one of the string column is compared against a regular expression. My code in dask using map_partitions is:

[code]

Currently if I try the below code I get an exception saying Series doesn't have .data attribute. Instead of the above workaround it would be nice to have the `.data` attribute for string columns in dask da

[2019-06-06 06:07] kkraus14 commented on #272
The `.data` attribute is custom to cuDF and doesn't exist in the Pandas API. In general, the user shouldn't have to access the underlying column object in order to accomplish their task. What would the equivalent API be in using Pandas / dask.dataframe for doing a string regex match?

[2019-06-06 06:26] galipremsagar commented on #272
The equivalent in Pandas is: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html

The above is a sample code, but my actual requirement is that dask cudf allows string concatenation of two string columns like dask does:

dask:

[code]

output:
[code]

But In dask-cudf the following is currently not possible:

[code]

So I was looking at to utilize `cat` funct

[2019-06-06 14:09] quasiben commented on #272
We could have more bin ops support in cudf for StringColumns and/or add functionality around str.contains but I agree with @kkraus14 that we don't want the user to *have* to access the `.data` attribute to achieve a particular task

[2019-06-06 14:19] quasiben commented on #272
Actually, I just looked and not only does `cudf.col.str.contain` exist but so does `cat`:

[code]

Still, I could see the binop of cdf.c + cdf.c being a nice thing @kkraus14 thoughts ?

[2019-06-06 14:32] beckernick commented on #272
@quasiben I wonder if implementing the concatenation binary op for strings may resolve the issue with using `str.cat` in dask-cudf (just noticed this).

dask-cudf is able to successfully handle StringColumn functionality that isn't explicitly implemented but is accessed via `getattr` in cudf grabbing the method of the underlying nvstrings object (`data`). `str.slice` is an example of this:

[code]

[2019-06-06 14:48] quasiben commented on #272
@beckernick yeah, that would probably help!  though, i want to look at what is happening with str.cat in dask-cudf

[2019-06-06 14:50] beckernick commented on #272
👍
Also @galipremsagar , in general you should be able to access any method of the nvstrings `data` by doing `df.text.str.match(regex_string)` instead of `df.text.data.match(regex_string)`.

[2019-06-06 14:58] quasiben commented on #272
@beckernick hmm, something odd is happening.  when dask-cudf hands str.cat a column, that column is a wrapped in a tuple:

[code]

`others` should be a cudf.Series

[2019-06-06 15:07] beckernick commented on #272
Hmm, interesting. Pandas can handle the tuple of objects. From the docstring: "others : Series, Index, DataFrame, np.ndarrary or list-like".

[code]

Perhaps the appropriate solution is for us to allow this as well? Given that pandas allows for something list-like, we should probably allow for that as well. I think that would solve this issue. What do you think @quasiben ?

[2019-06-06 15:14] beckernick commented on #272
Currently, the `cat` method of nvstrings cannot handle multiple nvstrings objects as inputs, so some potential resolutions could be something like one of the following:

- Be changed upstream in nvstrings and then subsequently allow for list-like inputs in the cuDF `str.cat` method;
- Kept as is in nvstrings and add branching logic to iterate through `others` if its list-like.

Any thoughts @kkrau

[2019-06-06 15:46] quasiben commented on #272
@beckernick that's rad you already solved the issue!

I would assume cuDF as the place to resolve -- but I know very little about nvstrings.  If the overhead is not significant than cuDF seems reasonable

[2019-06-06 16:15] beckernick commented on #272
@galipremsagar do you want to execute the approach discussed above for rapidsai/cudf#1939?

[2019-06-06 18:54] mlahir1 opened #273 "[BUG] Multi Column Group-by fails with following error in dask_cudf while works fine in cudf"
**Multi Column Group-by throws following error**: "AttributeError: 'RangeIndex' object has no attribute 'names'".

dask_cudf
----------
**Reproducer Code:**
[code]
CUDF
----------
same functionality written in cudf, we get expected results.
[code]

[2019-06-06 18:55] galipremsagar commented on #272
Thanks @beckernick  This works for me.

Sure, will work on it

[2019-06-06 19:01] quasiben commented on #273
@mlahir1 yup, this is a bug.  I think this is on the cudf side.  I'm seeing the error here:

[code]

@thomcom should `self._df.index.names` be `self._df.index.name` ?

[2019-06-06 19:12] quasiben commented on #267
In the current state of https://github.com/rapidsai/dask-cudf/pull/270 I've shaved off 7 seconds.

[2019-06-06 19:22] quasiben commented on #258
https://github.com/rapidsai/cudf/pull/1917 helps to resolve this but to move forward we also will need https://github.com/rapidsai/cudf/issues/1720 to be resolved.  In the shuffle during the merge dask calls things like:

and `get_group` is not yet supported by cuDF

[2019-06-06 19:23] quasiben commented on #266
@deltadu would you mind trying out https://github.com/rapidsai/dask-cudf/pull/270 ?

[2019-06-06 19:29] thomcom commented on #273
An MI has a names attribute instead of a name - this error says that a RangeIndex is getting into this portion of logic where the groupby level is >=1 or a list. Thanks for the Issue @mlahir1 I will be looking into it.

[2019-06-06 19:29] quasiben commented on #273
Ah!  Apologies @thomcom !

[2019-06-06 19:34] mrocklin commented on #258
The dask dataframe merge code is nowhere close to being compatible with cudf.  I recommend against trying small improvements to get here.  This is a larger endeavor.

Currently the approach is:

1. If the on/index/how/partitioning structure is compatible with dask's mainline merge codebase, use that.  This is usually true for indexed joins, single-partition joins, and so on, but not true for joins

[2019-06-06 19:43] deltadu commented on #266
@quasiben Yes sure
I'm using a docker image right now. What is the best way to try #270

[2019-06-06 19:46] quasiben commented on #266
[code]

might be the easiest ?

[2019-06-06 19:49] quasiben commented on #258
@mrocklin we are in `situation 1` because @ayushdg has both right_index and left_index set to true  I suppose this means that folks should be using `on` instead ?

[2019-06-06 20:14] mrocklin commented on #258
It's not just "are you using right_index".  The checks are more complex.  I recommend reading through the conditions in `dd.merge`.

https://github.com/dask/dask/blob/24ee370e32812ca1cf9df6164f64f817fc658f9e/dask/dataframe/multi.py#L329-L420

The matching code in dask-cudf is not quite the same

https://github.com/rapidsai/dask-cudf/blob/143b4fbffbecbe805a3a7b1afe16536df77d1d3e/dask_cudf/core.py#L

[2019-06-07 14:44] pentschev opened #275 "Mismatching __sizeof__ and alloc_size results"
Mismatching results for `__sizeof__()` and `alloc_size` on `dask_cudf.core.DataFrame` partitions. The following snippet can be used to reproduce the issue:

[code]

The results I get are:

[code]

As we can see, `__sizeof__()` is double the size of `alloc_size`, and the latter matches that of the `cudf.DataFrame`, despite the overhead for actual allocated device memory in both `cudf` and `dask_cud

[2019-06-07 15:07] #271 closed

[2019-06-07 16:13] mrocklin commented on #275
The relevant code is here:

https://github.com/rapidsai/cudf/blob/0233e4b53205b65196e74889803d8e3a75d1893e/python/cudf/dataframe/dataframe.py#L296-L297

I'm moving this to the cudf issue tracker.

My first guess is that we're not handling the index?

[2019-06-07 20:25] ayushdg commented on #258
Thank you for the updates. FWIW I found another case which runs into the same issue.

This one probably will not work even after the indexing stuff as my understanding is that cudf does not support a generic `apply`.
[code]

[code]

[2019-06-07 21:22] taureandyernv commented on #108
@mrocklin , right now, parquet is the best format for our Colab notebooks.  I really want to use dask_cudf and dask_xgboost with our larger datasets.   Please, oh please get this functionality in there :)

[2019-06-08 13:42] quasiben commented on #108
@taureandyernv better parquet interaction is actively being worked on and we know how important it is to you and other folks

[2019-06-08 16:12] quasiben commented on #258
Should `dask-cudf` always punt to the internal join method rather than dask for now ?

@mrocklin do you have any of the code you spec'd out ?  If so, I can keep digging to see why it's failing .

[2019-06-08 17:00] mrocklin commented on #258
No, there are cases around indexed joins and single-partition joins that are important to make efficient today for customer use cases.  I think that we just need to become more careful about when we use the internal join code.

I tried this, but it wasn't enough

[code]

[2019-06-11 20:30] randerzander commented on #273
@thomcom is there a related cuDF issue already open?

[2019-06-11 23:19] galipremsagar opened #277 "read_csv fails with multi-node & single large file"
The following code worked fine and I was able to perform operations when I was running dask on a single machine only.

[code]

But when I started using multi-node and trying to read a single csv file I see the below exception. The setup is using two T4 server machines with 4 T4's in each one of them. Each T4 is 16GB. I see that the GPU usage of one process goes in steps of 0GB -> 4GB -> 8GB -> pro

[2019-06-12 02:33] quasiben commented on #277
can you try with a prefix of `file://`  -- this uses `cudf.read_csv` directly and will read the entire file(s) at once compared with a distributed read

[2019-06-12 03:15] quasiben commented on #258
I reworked a bit of the conditional to look like the following:

[code]

This might not be correct but I was trying to sort out the order or operations between the `ors` and `ands`.  In any case, this produced a new error:

My current suspicion is that cudf.merge is not handling the meta calls in join_impl

https://github.com/rapidsai/dask-cudf/blob/7c28db362ab9c907e7af63bf12c628bf1700d427/dask_cu

[2019-06-12 04:50] mrocklin commented on #258
It could also be that join_impl doesn't handle joins on the index in the
way that we expect.

On Wed, Jun 12, 2019 at 5:15 AM Benjamin Zaitlen <notifications@github.com>
wrote:

[2019-06-12 13:29] quasiben commented on #277
Apologies, I'm incorrect.  @mrocklin corrected me:

the standard behavior of dask_cudf.read_csv is to keep things in GPU memory as much a possible -- using `file://` will chunk with host memory then move to device

[2019-06-12 15:18] quasiben commented on #277
If the file is quite large you might want to change the chunksize:

The default is `256 MiB`

[2019-06-12 16:12] randerzander commented on #277
I believe this was resolved by updating the version of dask_cudf (from 0.7.x to 0.8.x) in the container being used.

Please re-open if the issue resurfaces

[2019-06-12 16:12] #277 closed

[2019-06-12 20:31] quasiben commented on #258
@mrocklin, I think you are right.  The code doesn't handle index joins at the moment.  I'm looking into fixing this

[2019-06-13 09:35] mrocklin commented on #258
I think the issue here is that we're joining on the index, but don't have divisions on the index

[code]

Because we call merge with `left_index=True, right_index=True` we use Dask DataFrame's join.  However because we don't have division information we still have to shuffle things around, which messes things up.

It's quite odd though that we don't have divisions after the call to `set_index`. I

[2019-06-17 17:44] galipremsagar commented on #133
I have a similar requirement. I'd like to use `insert` function exposed by nvstrings, which can be accessed by
a `cudf` data frame but not a `dask-cudf` dataframe.

[code]

[code]

currently we get exception :
[code]

Current workaround is doing the same operation in a map_partitions call:
[code]

[2019-06-17 19:56] mrocklin commented on #133
This should be relatively straightforward to resolve.  I think that the relevant code is here:

https://github.com/dask/dask/blob/ee1b6268f7165162eec998d909ee74e75922aa45/dask/dataframe/accessor.py#L103-L111

Instead of hard-coding Pandas there we should do something lilke

[code]

I'll add this to my todo list for the week, though as a warning it's relatively long at the moment.  If anyone else w

[2019-06-17 21:04] mrocklin commented on #133
See https://github.com/dask/dask/pull/4955

[2019-06-17 23:51] galipremsagar opened #281 "RuntimeError in cuio_common.cpp while reading a csv"
I'm on the latest nightly of dask-cudf. I'm getting below RuntimeError when I try reading a csv.

My code:
[code]

Output:
[code]

The same code ran correctly until I deleted my container and installed a new one along with all nightly packages.

[2019-06-18 00:03] kkraus14 commented on #281
@galipremsagar does the same error happen if you just use `cudf.read_csv(...)` directly? The dask code looks to do a very barebones passthrough.

[2019-06-18 00:22] galipremsagar commented on #281
Yes, after seeing your comment I see that it happens in cudf.

[code]

Shall I close this and move to cudf?

[2019-06-18 00:26] OlivierNV commented on #281
Sounds like a cuio bug if the default compression argument isn't recognized as valid (I would expect the default value of compression to be None)

[2019-06-18 00:32] OlivierNV commented on #281
Hmm. Yeah, looking at the code, it looks like it will fail if the file extension isn't .csv -> was it the case here ?
(It should instead infer uncompressed imo) -> @galipremsagar : you can check if adding compression=None in the read_csv parameters resolves the issue.